<div class="index-content-header"></div>

<div class="index-content-body ">
    <div class="col-xs-3 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 1px);padding: 5px">
            <div class="col-xs-12 nopadding" style="flex: 0 0 auto;padding-right: 22px;" ng-hide="!model.mainList.length">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>
                    <center>
                        <label class="h4">
                            <b>PENDING GRN LIST:</b>
                        </label>
                    </center>
                    </td>
                    </tr>
                    </tbody>
                </table> 
            </div>
            <div class="smart-scroll-y" style="height: calc(100vh - 106px);" ng-hide="!model.mainList.length">
                <table class="table-rounded control-table table-hover">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr ng-repeat="unit in model.mainList" ng-click="ui.selectGrn($index,unit.indexNo)">
                            <td class="text-center" ng-class="model.selectedGrnIndex === unit.indexNo ? 'selected' : ''">
                                <b>{{model.getSupplier(unit.supplier)}}</b>
                                <a class="btn btn-success pull-right" style="margin-top: 5px"><span class="glyphicon glyphicon-arrow-right"></span></a><br>
                                <label class="pull-left label label-default" style="margin-top: 8px">{{unit.number | fixedLength:5}}</label>
                                <label class="">{{unit.date}}</label>
                                <label class="pull-right">{{unit.grnAmount|number:2}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="col-xs-3" style="position: fixed;bottom: 1px;margin-left:-15px;height:40px;" ng-hide="!model.mainList.length">
                <table class="table-rounded">
                    <col style="width: 15%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 25%"/>

                    <thead class="background-dark">
                        <tr>
                            <td><span class="label label-primary">{{model.mainList.length}}</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><b>{{model.mainListValue | number:2}}</b></td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="placeholder col-md-12" ng-hide="model.mainList.length" style="height: calc(100vh - 30px); padding: 0px 10px 10px 10px;">
                <h1>PLEASE APPROVE PENDING PURCHASE ORDER TO DISPLAY :(</h1>
            </div>
        </div>
    </div>
    <div class="col-xs-9 background-light">
        <div class="col-xs-12 background-light nopadding">
            <div class="row col-xs-2 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>number<input class="form-control" placeholder="number" ng-model="model.data.number" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-2 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>current date<input class="form-control" id="date" smart-input="date" ng-model="model.data.approveDate" ng-disabled="ui.mode !== 'NEW' "></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-2 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>reference number<input class="form-control" placeholder="reference number" ng-model="model.data.refNumber" 
                                                       ng-disabled="ui.mode !== 'NEW'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-2 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>credit period<input class="form-control" placeholder="credit period" ng-model="model.data.creditPeriod" 
                                                    ng-disabled="ui.mode !== 'NEW'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-2 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>supplier<input class="form-control" placeholder="supplier" ng-model="model.data.supplier" 
                                               uib-typeahead="supplier.indexNo as (supplier.indexNo + ' - ' + supplier.name) for supplier in model.suppliers |filter:$viewValue|limitTo:10" 
                                               typeahead-input-formatter="model.getSupplier($model)" 
                                               ng-disabled="true"
                                               typeahead-editable="false">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="row col-xs-2 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>receive date<input class="form-control" smart-input="date" placeholder="receive date" ng-model="model.data.date" 
                                                   ng-disabled="true"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="background-light">
                <div class="row col-xs-12 nopadding">
                    <table class="table-rounded control-table square-table">
                        <col style="width: 20%"/>
                        <col style="width: 25%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 7%"/>
                        <tbody>
                            <tr>
                                <td>BARCODE<input class="form-control" id="barcode" placeholder="barcode" ng-model="model.tempData.barcode"  ng-disabled="true"></td>
                                <td>DESCRIPTION<input class="form-control" id="item" placeholder="description"
                                                      uib-typeahead="item.indexNo as (item.barcode + ' - ' + item.name) for item in model.items |filter:$viewValue|limitTo:10" 
                                                      typeahead-input-formatter="model.getItemLabel($model)"
                                                      typeahead-editable="false"
                                                      ng-model="model.tempData.item"  ng-disabled="true"></td>
                                <td>PRICE<input class="form-control" id="price" placeholder="price" ng-model="model.tempData.price" ng-keyup="ui.valueCalculater(model.tempData.price)" ng-disabled="ui.mode !== 'NEW'"></td>
                                <td>QTY<input class="form-control" id="qty" placeholder="qty" ng-model="model.tempData.qty"  ng-disabled="true"></td>
                                <td>Value<input class="form-control" id="value" placeholder="value" ng-model="model.tempData.value" ng-disabled="true"></td>
                                <td>DISCOUNT<input class="form-control" id="discount" placeholder="discount" ng-model="model.tempData.discount" ng-keyup="ui.discountCalculator()" ng-disabled="ui.mode !== 'NEW'"></td>
                                <td>D.VALUE<input class="form-control" id="discountValue" placeholder="discount value" ng-model="model.tempData.discountValue" ng-keyup="ui.discountValueCalculator()" ng-disabled="ui.mode !== 'NEW'"></td>
                                <td>NET<input class="form-control" id="netValue" placeholder="net value" ng-model="model.tempData.netValue" ng-disabled="true"></td>
                                <td>
                                    <a class="btn btn-primary" style="margin-top: 28px" id="btnAddData" ng-click="ui.addData()">
                                        <span class="glyphicon glyphicon-plus">
                                        </span>
                                    </a> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <table class="table-rounded" ng-hide="!model.data.grnItemList.length">
            <col style="width: 20%"/>
            <col style="width: 25%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 7%"/>

            <thead class="background-dark">
                <tr>
                    <th>Barcode</th>
                    <th>Description</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Value</th>
                    <th class="text-right">Discount</th>
                    <th class="text-right">D.Value</th>
                    <th class="text-right">Net</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 296px);" ng-hide="!model.data.grnItemList.length">
            <table class="table-rounded table-hover">
                <col style="width: 20%"/>
                <col style="width: 25%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 7%"/>
                <tbody>
                    <tr ng-repeat="grnItem in model.data.grnItemList">
                        <td><span class="label label-default">{{model.getItem(grnItem.purchaseOrderItem).barcode}}</span></td>
                        <td class="over-flow-hidden">{{model.getItem(grnItem.purchaseOrderItem).name}}</td>
                        <td class="text-right">{{grnItem.price | number:2}}</td>
                        <td class="text-right">{{grnItem.qty | number:2}}</td>
                        <td class="text-right">{{grnItem.value | number:2}}</td>
                        <td class="text-right">{{grnItem.discount | number:2}} %</td>
                        <td class="text-right">{{grnItem.discountValue | number:2}}</td>
                        <td class="text-right">{{grnItem.netValue | number:2}}</td>
                        <td class="text-right">
                            <a class="btn btn-primary" ng-click="ui.edit($index)"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-9" style="position: fixed;bottom: 1px;margin-left:-15px;" ng-hide="!model.data.grnItemList.length">
            <table class="table-rounded background-dark">
                <col style="width: 20%">
                <col style="width: 10%">
                <col style="width: 20%">
                <col style="width: 13%;">
                <col style="width: 14%;">
                <col style="width: 2%;">
                <col style="width: 14%;">
                <col style="width: 14%;">
                <col style="width: 8%;">
                <tbody>
                    <tr class="background-dark">
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>TOTAL :</b></td>
                        <td><input class="form-control text-right"placeholder="qty" ng-model="model.summaryData.qty" ng-disabled="true"></td>
                        <td><input class="form-control text-right" placeholder="value" ng-model="model.summaryData.value" ng-disabled="true"></td>
                        <td></td>
                        <td><input class="form-control text-right" placeholder="discount value" ng-model="model.summaryData.discount" ng-disabled="true"></td>
                        <td><input class="form-control text-right" placeholder="net value" ng-model="model.data.amount" ng-disabled="true"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="background-dark">
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>NBT DETAILS :</b></td>
                        <td></td>
                        <td></td>
                        <td><input type="checkbox" ng-model="chxNBT" ng-disabled="model.data.isNbt" ng-change="ui.checkBoxNBTFunction();"/></td>
                        <td><input class="form-control text-right" placeholder="nbt %" ng-model="model.data.nbt" ng-disabled="true"></td>
                        <td><input class="form-control text-right" placeholder="nbt value" ng-model="model.data.nbtValue" ng-disabled="true"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="background-dark">
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>VAT DETAILS :</b></td>
                        <td></td>
                        <td></td>
                        <td><input type="checkbox" ng-model="chxVAT" ng-disabled="model.data.isVat" checked="model.data.isVat" ng-change="ui.checkBoxVATFunction();"/></td>
                        <td><input class="form-control text-right" placeholder="vat %" ng-model="model.data.vat" ng-disabled="true"></td>
                        <td><input class="form-control text-right" placeholder="vat value" ng-model="model.data.vatValue" ng-disabled="true"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="background-dark">
                        <td></td>
                        <td></td>
                        <td class="text-right"><b>SUMMARY :</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="form-control text-right" placeholder="po value" ng-model="model.data.grandAmount" ng-disabled="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="model.data.grnItemList.length" style="height: calc(100vh - 195px); padding: 0px 10px 10px 10px;">
            <h1>PLEASE SELECT PENDING GRN OR ADD EDITING ITEM TO DISPLAY :(</h1>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show=" ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show=" ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>