<div class="index-content-body ">
    <!------ category ---->
    <div class="col-xs-7 background-light" ng-show="ui.model === 'CATEGORY'">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);">
            <div class="tile-lists">
                <div class="tiles tile-300 col-xs-4" style="background: {{detils.colour}};border-radius: 8px;" ng-repeat="detils in model.category|filter:{viewApprove : true}" ng-click="ui.categorySelections(detils);">
                    <div style="margin-top: 45px; color: #fff;font-weight: bold;">                   
                        <div class="col-xs-4">
                            <img src="/img/{{detils.image}}"/>
                        </div>
                        <div class="col-xs-8">
                            {{detils.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!------ category ---->

    </div>
    <!------ package selction ---->
    <div class="col-xs-7 background-light-dark" ng-show="ui.model === 'PACKAGE'">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);" >
            <table class="square-table background-dark">
                <col style="width: 50%;"/>
                <col style="width: 30%;"/>
                <col style="width: 20%;"/>
                <thead>
                    <tr>
                        <th>PACKAGE NAME</th>
                        <th>PRICE</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 204px);">
                <div ng-repeat="detils in model.filterItems">
                    <table class="square-table">
                        <col style="width: 50%;"/>
                        <col style="width: 30%;"/>
                        <col style="width: 20%;"/>
                        <tbody>
                            <tr class="background-light">
                                <td ng-click="ui.getPackageDetails($index, detils.indexNo);" class="text-bold">{{detils.name}}</td>
                                <td ng-click="ui.getPackageDetails($index, detils.indexNo);" ng-show="selectVehicleType === 'REGISTER'">{{detils.salePriceRegister|number:2}}</td>
                                <td ng-click="ui.getPackageDetails($index, detils.indexNo);" ng-show="selectVehicleType === 'NORMAL'">{{detils.salePriceNormal|number:2}}</td>
                                <td><a ng-class="selectVehicleType === 'REGISTER' ? 'btn-success' : 'btn-primary'" class="btn" ng-click="ui.addPackageAndServiceItem(detils, 'PACKAGE_ITEM');"/><span class="glyphicon glyphicon-plus"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="animation-v-grow background-dark" ng-show="selectPackageItemPosition == $index">
                        <table class="square-table">
                            <col style="width: 30%;"/>
                            <col style="width: 70%;"/>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="background-dark" ng-repeat="details in model.packageItemList">
                                    <td><label>{{model.itemData(details.item).indexNo | fixedLength:5}}</label></td>
                                    <td>{{model.itemData(details.item).name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------ /package selction ---->
    <!------ stock item selction ---->
    <div class="col-xs-7 background-light-dark" ng-show="ui.model === 'STOCK'">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);" >
            <div class="col-xs-7">
                <input type="text" class="search-input" placeholder="search" ng-model="searchItem">
            </div>
            <table class="square-table background-dark">
                <col style="width: 30%;"/>
                <col style="width: 40%;"/>
                <col style="width: 20%;"/>
                <col style="width: 10%;"/>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>&nbsp;</th>
                        <th class="text-center">QTY</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 204px);">
                <table class="square-table">
                    <col style="width: 30%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 10%;"/>
                    <tbody>
                        <tr class="background-light" ng-repeat="detils in model.filterItems|filter:{ name : searchItem}">
                            <td class="text-bold">{{detils.name}}</td>
                            <td ng-show="selectVehicleType === 'REGISTER' && !ui.getItemUnits($index, detils.indexNo).length">{{detils.salePriceRegister|number:2}}<span class="label label-default">{{model.findByItemStockItmQty(detils.indexNo)}}</span></td>
                            <td ng-show="selectVehicleType === 'NORMAL' && !ui.getItemUnits($index, detils.indexNo).length">{{detils.salePriceNormal|number:2}}</td>
                            <td ng-show="ui.getItemUnits($index, detils.indexNo).length"> 
                                <select class="form-control form-group-lg" ng-model="selectIemUnit" style="margin-top: 8px;">
                                    <option  ng-show="selectVehicleType === 'NORMAL'" value="{{itemUnits.indexNo}}" ng-repeat=" itemUnits in ui.getItemUnits($index, detils.indexNo)">
                                        {{itemUnits.name}}  -  {{ itemUnits.salePriceNormal|number:2}} 
                                    </option>
                                    <option  ng-show="selectVehicleType === 'REGISTER'" value="{{itemUnits.indexNo}}" ng-repeat=" itemUnits in ui.getItemUnits($index, detils.indexNo)">
                                        {{itemUnits.name}}  -  {{ itemUnits.salePriceRegister|number:2}} 
                                    </option>
                                </select>
                            </td>
                            <td>
                                <div range-spinner
                                     range-min="1" 
                                     range-step="1"  
                                     range-max="15" 
                                     range-default-value="0"
                                     range-decimal-precision="1"				
                                     range-model="qty"
                                     accept-decimal="false"
                                     name-of-field="rangeFieldName"
                                     id-of-field="rangeFieldId">
                                </div>
                            </td>
                            <td ng-show="ui.getItemUnits($index, detils.indexNo).length"><a class="btn" ng-class="selectVehicleType === 'REGISTER' ? 'btn-success' : 'btn-primary'" ng-click="ui.addItemUnit(selectIemUnit, qty);"><span class="glyphicon glyphicon-plus"></span></a></td>
                            <td ng-show="!ui.getItemUnits($index, detils.indexNo).length"><a class="btn" ng-class="selectVehicleType === 'REGISTER' ? 'btn-success' : 'btn-primary'" ng-click="ui.addNormalItem(detils, qty);"><span class="glyphicon glyphicon-plus"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!------ /stock item selction ---->
    <!------ serveice selction ---->
    <div class="col-xs-7 background-light-dark" ng-show="ui.model === 'SERVICE'">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);" >
            <div class="col-xs-8">
                <input type="text" class="search-input" placeholder="search" ng-model="searchService">
            </div>
            <table class="square-table background-dark">
                <col style="width: 50%;"/>
                <col style="width: 30%;"/>
                <col style="width: 20%;"/>
                <col />
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>PRICE</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 204px);">
                <table class="square-table">
                    <col style="width: 50%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 20%;"/>
                    <tbody>
                        <tr class="background-light" ng-repeat="detils in model.filterItems|filter:{ name : searchService}">
                            <td class="text-bold">{{detils.name}}</td>
                            <td ng-show="selectVehicleType === 'REGISTER'">{{detils.salePriceRegister|number:2}}</td>
                            <td ng-show="selectVehicleType === 'NORMAL'">{{detils.salePriceNormal|number:2}}</td>
                            <td><a ng-class="selectVehicleType === 'REGISTER' ? 'btn-success' : 'btn-primary'" class="btn" ng-click="ui.addPackageAndServiceItem(detils, 'SERVICE_ITEM');"/><span class="glyphicon glyphicon-plus"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!------ /serveice selction ---->
    <!------ total ---->
    <div class="col-xs-5 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);">   
            <uib-tabset>
                <!------ all total (package and service and stock items)---->
                <uib-tab heading="ALL SELECTIONS" index="0">
                    <div style="height: 50px;">
                        <table class="square-table table-rounded">
                            <col style="width: 10%;"/>
                            <col style="width: 40%;"/>
                            <col style="width: 10%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <col/>
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>SELECTIONS</th>
                                    <th class="text-right">QTY</th>
                                    <th class="text-center">AMOUNT</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="smart-scroll-y" style="height: calc(100vh - 237px);padding-left: 5px;">
                        <table class="square-table background-dark">
                            <col style="width: 10%;"/>
                            <col style="width: 40%;"/>
                            <col style="width: 10%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <tbody>
                                <tr ng-repeat="selections in model.jobItemList" style="animation: 0.5s fadeIn">
                                    <td>
                                        <label class="label label-danger"  style="display: inline-block; width: 20px;" ng-show="selections.itemType === 'PACKAGE_ITEM'">P</label>
                                        <label class="label label-primary" style="display: inline-block; width: 20px;" ng-show="selections.itemType === 'SERVICE_ITEM'">S</label>
                                        <label class="label label-success" style="display: inline-block; width: 20px;" ng-show="selections.itemType === 'STOCK_ITEM'">I</label>
                                        <label class="label label-warning" style="display: inline-block; width: 20px;" ng-show="selections.itemType === 'ITEM_UNIT'">I</label>
                                    </td>
                                    <td ng-show="selections.item != null"><small>{{model.itemData(selections.item).name}}</small></td>
                                    <td ng-show="selections.itemUnit != null"><small>{{model.itemUnitData(selections.itemUnit).name}}</td>
                                    <td class="text-right"><small>{{selections.quantity}}</small></td>
                                    <td class="text-right"><small>{{selections.value|number:2}}</small></td>
                                    <td><a class="btn btn-danger" ng-click="ui.deleteSelectDetails($index);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="background-light-dark" style="margin-left: 5px;margin-right: 5px;">
                        <table class="square-table">
                            <col style="width: 50%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <tbody>
                                <tr class="text-bold ">
                                    <td>SERVICE TOTAL</td>
                                    <td class="text-right">{{model.getSelectItemTotalForService() | number:2}}</td>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr class="text-bold">
                                    <td>ITEM TOTAL</td>
                                    <td class="text-right">{{model.getSelectItemTotalForItemAndItemUnits() | number:2}}</td>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr class="text-bold">
                                    <td>ALL TOTAL</td>
                                    <td class="text-right">{{model.getSelectItemAllItems() | number:2}}</td>
                                    <th>&nbsp;</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <!------ /all total (package and service and stock items)---->
                <!------ stock item total---->
                <uib-tab heading="ITEM" index="1">
                    <div style="height: 50px;">
                        <table class="square-table table-rounded">
                            <col style="width: 10%;"/>
                            <col style="width: 40%;"/>
                            <col style="width: 10%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <col/>
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>SELECTIONS</th>
                                    <th class="text-right">QTY</th>
                                    <th class="text-center">AMOUNT</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="smart-scroll-y" style="height: calc(100vh - 140px);padding-left: 5px;">
                        <table class="square-table background-dark">
                            <col style="width: 10%;"/>
                            <col style="width: 40%;"/>
                            <col style="width: 10%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <tbody ng-repeat="selections in model.getSelectJobItemForItemAndItemUnits()">
                                <tr>
                                    <td>
                                        <label class="label label-success" style="display: inline-block; width: 20px;" ng-show="selections.itemType === 'STOCK_ITEM'">I</label>
                                        <label class="label label-warning" style="display: inline-block; width: 20px;" ng-show="selections.itemType === 'ITEM_UNIT'">I</label>
                                    </td>
                                    <td ng-show="selections.item != null"><small>{{model.itemData(selections.item).name}}</small></td>
                                    <td ng-show="selections.itemUnit != null"><small>{{model.itemUnitData(selections.itemUnit).name}}</td>
                                    <td class="text-right"><small>{{selections.quantity}}</small></td>
                                    <td class="text-right"><small>{{selections.value|number:2}}</small></td>
                                    <td><a class="btn btn-danger" ng-click="ui.deleteSelectDetails($index);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="background-dark">
                        <table class="square-table">
                            <col style="width: 50%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <tbody>
                                <tr class="text-bold">
                                    <td>ITEM TOTAL</td>
                                    <td class="text-right">{{model.getSelectItemTotalForItemAndItemUnits() | number:2}}</td>
                                    <th>&nbsp;</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <!------ /stock item total---->
                <!------ service total---->
                <uib-tab heading="SERVICE" index="2">
                    <div style="height: 50px;">
                        <table class="square-table table-rounded">
                            <col style="width: 10%;"/>
                            <col style="width: 40%;"/>
                            <col style="width: 10%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <col/>
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>SELECTIONS</th>
                                    <th class="text-right">QTY</th>
                                    <th class="text-center">AMOUNT</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="smart-scroll-y" style="height: calc(100vh - 140px);padding-left: 5px;">
                        <table class="square-table background-dark">
                            <col style="width: 10%;"/>
                            <col style="width: 40%;"/>
                            <col style="width: 10%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <tbody ng-repeat="selections in model.getSelectJobItemForService()">
                                <tr>
                                    <td>
                                        <label class="label label-primary" style="display: inline-block; width: 20px;"  ng-show="selections.itemType === 'SERVICE_ITEM'">S</label>
                                    </td>
                                    <td ng-show="selections.item != null"><small>{{model.itemData(selections.item).name}}</small></td>
                                    <td ng-show="selections.itemUnit != null"><small>{{model.itemUnitData(selections.itemUnit).name}}</td>
                                    <td class="text-right"><small>{{selections.quantity}}</small></td>
                                    <td class="text-right"><small>{{selections.value|number:2}}</small></td>
                                    <td><a class="btn btn-danger" ng-click="ui.deleteSelectDetails($index);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="background-dark">
                        <table class="square-table">
                            <col style="width: 50%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <tbody>
                                <tr class="text-bold">
                                    <td>SERVICE TOTAL</td>
                                    <td class="text-right">{{model.getSelectItemTotalForService() | number:2}}</td>
                                    <th>&nbsp;</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <!------ /service total---->
                <!------ client reserved item---->
                <uib-tab heading="CLIENT RECEVED ITEM" index="3">
                    <div class="background-dark">
                        <table class="square-table">
                            <col style="width: 30%;"/>
                            <col style="width: 50%;"/>
                            <col style="width: 20%;"/>
                            <tbody>
                                <tr class="text-bold">
                                    <td>Item Name</td>
                                    <td colspan="2">
                                        <input type="text" class="text-right form-control" style="width: 100%" ng-model="model.customerReservedItemData.name"/>
                                    </td>
                                </tr>
                                <tr class="text-bold">
                                    <td>Qty</td>
                                    <td>
                                        <div range-spinner
                                             range-min="1" 
                                             range-step="1"  
                                             range-max="15" 
                                             range-default-value="0"
                                             range-decimal-precision="1"				
                                             range-model="model.customerReservedItemData.qty"
                                             accept-decimal="false"
                                             name-of-field="rangeFieldName"
                                             id-of-field="rangeFieldId">
                                        </div>
                                    </td>
                                    <td>
                                        <a class="btn btn-success" ng-click="ui.addCustomerReservedItem();"><span class="glyphicon glyphicon-remove"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="height: 50px;">
                        <table class="square-table table-rounded">
                            <col style="width: 70%;"/>
                            <col style="width: 10%;"/>
                            <col style="width: 20%;"/>
                            <col/>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-right">QTY</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="smart-scroll-y" style="height: calc(100vh - 193px);padding-left: 5px;">
                        <table class="square-table background-dark">
                            <col style="width: 70%;"/>
                            <col style="width: 10%;"/>
                            <col style="width: 20%;"/>
                            <tbody ng-repeat="selections in model.customerReceivedItems">
                                <tr>
                                    <td class="text-bold"><small>{{selections.name}}</small></td>
                                    <td class="text-right text-bold">{{selections.qty}}</td>
                                    <td><a class="btn btn-danger" ng-click="ui.deleteCustomerReservedItem($index, selections.indexNo);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <!------ /client reserved item---->
            </uib-tabset>
        </div>
    </div>
    <!------ /total ---->
</div>
<div class="fab-container pull-left">
    <a class="fab fab-lg fab-success" ng-hide="ui.model === 'CATEGORY'" ng-click="ui.backToCategory();"><i class="glyphicon glyphicon-chevron-left"></i></a>
</div>