<div class="index-content-body ">

    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);">
            <table class="square-table background-dark">
                <col style="width: 80%;"/>
                <col style="width: 20%;"/>
                <thead>
                    <tr>
                        <th>CATEGORY</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 186px);">
                <table class="square-table">
                    <col style="width: 80%;"/>
                    <col style="width: 20%;"/>
                    <tbody>
                        <tr class="background-light" ng-repeat="detils in model.category" style="animation: 0.5s fadeIn">
                            <td ng-click="ui.getItemsByCategory(detils.indexNo);" class="text-bold">{{detils.name}}</td>
                            <td><a ng-click="ui.getItemsByCategory(detils.indexNo);" class="btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);">
            <table class="square-table background-dark">
                <col style="width: 80%;"/>
                <col style="width: 20%;"/>
                <thead>
                    <tr>
                        <th>SERVICE</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="col-xs-8" ng-show="model.filterItems.length">
                <input type="text" class="search-input" placeholder="search" ng-model="searchService">
            </div>
            <table class="square-table background-dark" ng-show="model.filterItems.length">
                <col style="width: 50%;"/>
                <col style="width: 30%;"/>
                <col style="width: 20%;"/>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th class="text-right">PRICE</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 204px);" ng-show="model.filterItems.length">
                <table class="square-table">
                    <col style="width: 50%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 20%;"/>
                    <tbody>
                        <tr class="background-light" ng-repeat="detils in model.filterItems|filter: { type: 'SERVICE' }|filter:{ name:searchService }" style="animation: 0.5s fadeIn">
                            <td class="text-bold">{{detils.name}}</td>
                            <td class="text-right" ng-show="selectVehicleType === 'REGISTER'">{{detils.salePriceRegister|number:2}}</td>
                            <td class="text-right" ng-show="selectVehicleType === 'NORMAL'">{{detils.salePriceNormal|number:2}}</td>
                            <td><a ng-class="selectVehicleType === 'REGISTER' ? 'btn-success' : 'btn-primary'" class="btn" ng-click="ui.addPackageAndServiceItem(detils, 'SERVICE');"/><span class="glyphicon glyphicon-plus"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-lg-12 animation-fade" style="height: calc(100vh - 73px);" ng-hide="model.filterItems.length">
                <h1>PLEASE SELECT ITEM CATEGORY</h1>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);">            
            <div style="height: 50px;" ng-show="model.jobItemList.length">
                <table class="square-table table-rounded">
                    <col style="width: 10%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 35%;"/>
                    <col style="width: 15%;"/>
                    <col/>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>SELECTIONS</th>
                            <th class="text-right">QTY</th>
                            <th class="text-center">AMOUNT</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="smart-scroll-y" style="height: calc(100vh - 91px);padding-left: 5px;" ng-show="model.jobItemList.length">
                <table class="square-table background-dark">
                    <col style="width: 10%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 35%;"/>
                    <col style="width: 15%;"/>
                    <tbody>
                        <tr ng-repeat="selections in model.jobItemList" style="animation: 0.5s fadeIn">
                            <td>
                                <label class="label label-primary" style="display: inline-block; width: 20px;"  ng-show="model.itemData(selections.item).type === 'SERVICE'">S</label>
                            </td>
                            <td class="text-right"><small>{{model.itemData(selections.item).name}}</small></td>
                            <td class="text-right"><small>{{selections.quantity}}</small></td>
                            <td class="text-right"><small>{{selections.value|number:2}}</small></td>
                            <td><a class="btn btn-danger" ng-click="ui.deleteSelectDetails($index);"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="background-dark" ng-show="model.jobItemList.length">
                <table class="square-table">
                    <col style="width: 50%;"/>
                    <col style="width: 35%;"/>
                    <col style="width: 15%;"/>
                    <tbody>
                        <tr class="text-bold">
                            <td>TOTAL</td>
                            <td class="text-right">{{model.getSelectItemTotal() | number:2}}</td>
                            <th>&nbsp;</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-lg-12 animation-fade" style="height: calc(100vh - 16px);padding-bottom: 10px;" ng-hide="model.jobItemList.length">
                <h1>ITEM NOT FOUND :( </h1>
            </div>
        </div>
    </div>
    <div class="fab-container">
        <a class="fab fab-lg fab-primary" ng-click="ui.backToVehicleEntrance();"><i class="glyphicon glyphicon-backward"></i></a>
    </div>
</div>