<div class="index-content-header">
    
</div>
<div class="index-content-body">
    <div>
        <div class="background-light grid " style="height: calc(100vh - 52px)">
            <div class="grid-tile" grid="{{bay}}" ng-repeat="bay in model.bayList" ng-drop="true" ng-drop-success="dragLeave(bay,$data)">
                <div class="col-lg-12 nopadding" style="height: 100% ;display:grid;">

                    <div class="grid-tile-title">
                        <div class="col-xs-3 nopadding">
                            <label class="label label-primary">Max :{{bay.maxVehicle}}</label>
                        </div>
                        <div class="col-xs-8 nopadding" ng-click="ui.selectBay(bay)">
                            <label class="h5 pull-left" >{{bay.name}} </label> 
                        </div>
                        <div class="col-xs-1 nopadding">
                            <a class="btn btn-danger pull-right" ng-click="stop(bay)" ng-show="bay.timeout" ><span class="glyphicon glyphicon-remove"> {{bay.timeout}}</span></a>
                        </div>
                    </div>
                    <div class="smart-scroll-y" style="display: table-row;">

                        <div ng-repeat="job in model.jobList" ng-if="job.bay==bay.indexNo" 
                             ng-drag="{{dragableMode}}" ng-drag-data="job" class="tile tile-100-65 col-lg-6 nopadding" ng-click="ui.selectJob(job)" 
                             style="border-style: groove;" ng-class="{'selected':job.indexNo == model.selectJob.indexNo}">
                            <span  style="display: block;text-align: center;">
                                <i  id="simple-dropdown" uib-dropdown-toggle>
                                    <img src="../../../img/05.png"/>
                                    <h5 class="nopadding"><b class="text-default">{{getVehicle(job.vehicle).vehicleNo}}</b></h5>
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
