<div>
    <!--tile list start-->
    <div class="tile-list background-dark"  ng-show="model.finishedJobCards.length">
        <div class="tile-list-title" style="margin-right: 5px;">
            <h4>VEHICLE</h4>
        </div>
        <div class="tile-list-content smart-scroll-y" style="height: calc(100vh - 40px);">
            <div class="tile tile-128" style="animation: 0.5s zoomInLeft" ng-repeat="job in model.finishedJobCards"
                 ng-click="ui.selectedJobCard(job,$index)" ng-class="{'selected':job.indexNo == model.data.indexNo}">
                <span>
                    <img src="/img/01.png"/>  
                    <label>
                        {{model.vehicleData(job.vehicle).vehicleNo}}
                    </label>
                    <label ng-show="model.vehicleData(job.vehicle).type === 'NORMAL'" class="label label-primary">NORMAL</label>
                    <label ng-show="model.vehicleData(job.vehicle).type === 'REGISTER'" class="label label-success">REGISTER</label>
                </span>
            </div>
        </div>
    </div>
    <!--tile list end-->

    <!--customer satisfaction start-->
    <div class="index-content-body" style="width: calc(100% - 133px);float: left;"  ng-show="model.finishedJobCards.length">
        <div class="row col-xs-12" style="height: 100vh; padding-top: 0px;">
            <div class="col-xs-offset-2 col-xs-8" style="height:calc(100vh - 100px);margin-top: 52px;">
                <div class="col-xs-offset-2 col-xs-8" style="margin-top: 10%;" >
                    <center>
                        <img ng-show="model.data.rate<20" style="text-align: center" src="../../../img/satisfaction_icon/1.png" alt="not found"/>
                        <img ng-show="model.data.rate>=20 && model.data.rate<40" style="text-align: center" src="../../../img/satisfaction_icon/2.png" alt="not found"/>
                        <img ng-show="model.data.rate>=40 && model.data.rate<60" style="text-align: center" src="../../../img/satisfaction_icon/3.png" alt="not found"/>
                        <img ng-show="model.data.rate>=60 && model.data.rate<80" style="text-align: center" src="../../../img/satisfaction_icon/4.png" alt="not found"/>
                        <img ng-show="model.data.rate>=80 " style="text-align: center" src="../../../img/satisfaction_icon/5.png" alt="not found"/>
                    </center><br>
                </div>
                <div class="col-xs-offset-1 col-xs-10">
                    <center>
                        <input type="range" ng-model="model.data.rate" ng-disabled="!model.data.indexNo">
                        {{model.data.rate}}
                        
                        <input id="ex19" type="text"
                               data-provide="slider"
                               data-slider-ticks="[1, 2, 3]"
                               data-slider-ticks-labels='["short", "medium", "long"]'
                               data-slider-min="1"
                               data-slider-max="3"
                               data-slider-step="1"
                               data-slider-value="3"
                               data-slider-tooltip="hide" />
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!--customer satisfaction end-->

    <div class="placeholder col-md-12" ng-show="!model.finishedJobCards.length" style="height: calc(100vh - 20px); padding: 0px 10px 10px 10px;">
        <h1>EMPTY FINISHED JOB CARD TO DISPLAY :(
            <br>
            <br>
            IF FINAL CHECK LIST AND INVOICE COMPLETED,WILL MAKE FINISH JOB CARD :)
        </h1>
    </div>
</div>

<div class="fab-container" ng-show="model.finishedJobCards.length">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>

<script type="text/ng-template" id="reason.html">
    <div class="col-lg-12 background-light">
        <div class="row">
            <div class="modal-header bg-primary">
                <div class="col-lg-12">
                    <center>
                        <label> Satisfaction Reason</label>
                    </center>
                </div>
            </div>
            <div class="modal-body">
                <table class="square-table">
                    <col style="width: 90%;"/>
                    <col style="width: 10%;"/>
                    <tbody>
                    <tr class="background-light">
                        <td> 
                            <input id="txtReason" type="text" class="form-control" ng-model="model.data.rateReason"/>
                        </td>
                        <td>
                            <a class="btn btn-primary" ng-click="ui.directSave();" ng-disabled="!model.data.rateReason">
                                <span class="glyphicon glyphicon-ok">
                                </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer bg-primary">

            </div>
        </div>
    </div>
</script>