<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-4 background-light">
        <div style="display: flex; flex-flow: column; height: calc(100vh - 1px);">
            <uib-tabset>
                <uib-tab heading="PRODUCT" index="1" ng-click="ui.setTabPane(0)">
                    <table class="table-rounded  control-table">
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                        <tbody>
                            <tr>
                                <td><label class="control-label">Type *</label></td>
                                <td><select id="type" class="form-control" ng-model="model.item.type" ng-disabled="ui.disable !== 'item'" >
                                        <option value="STOCK" selected>STOCK</option>
                                        <option value="NON-STOCK">NON-STOCK</option>
                                        <option value="SERVICE">SERVICE</option>
                                        <option value="PACKAGE">PACKAGE</option>
                                    </select>
                            </tr>
                            <tr>
                                <td><label class="control-label">Name *</label></td>
                                <td><input  class="form-control" ng-model="model.item.name" ng-disabled="ui.disable !== 'item'" ></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Bar code</label></td>
                                <td><input class="form-control" ng-model="model.item.barcode" ng-disabled="ui.disable !== 'item'"></td>
                            </tr>
                            <tr>

                                <td><label class="control-label">Print Description</label></td>
                                <td><input class="form-control" ng-model="model.item.printDescription" ng-disabled="ui.disable !== 'item'" ></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Unit</label></td>
                                <td><input class="form-control" ng-model="model.item.unit" ng-disabled="ui.disable !== 'item'"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Sale Price *</label></td>
                                <td><input class="form-control text-right" smart-input="decimal" ng-model="model.item.salesPrice" ng-disabled="ui.disable !== 'item'" ></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Cost Price</label></td>
                                <td><input class="form-control text-right" smart-input="decimal" ng-model="model.item.costPrice" ng-disabled="ui.disable !== 'item'" ></td>
                            </tr>

                            <tr>
                                <td><label class="control-label">Department</label></td>
                                <td><input class="form-control" ng-model="model.item.department" ng-disabled="ui.disable !== 'item'" uib-typeahead="itemDepartment.indexNo as (itemDepartment.indexNo + ' - ' + itemDepartment.name) for itemDepartment in model.itemDepartmentList|filter:$viewValue|limitTo:10" typeahead-input-formatter="ui.departmentLabel($model);"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Category</label></td>
                                <td><input class="form-control" ng-model="model.item.category" ng-disabled="ui.disable !== 'item'" uib-typeahead="category.indexNo as (category.indexNo + ' - ' + category.name) for category in model.categoryList |filter:$viewValue|limitTo:10" typeahead-input-formatter="ui.categoryList($model);"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Sub Category</label></td>
                                <td><input class="form-control" ng-model="model.item.subCategory" ng-disabled="ui.disable !== 'item'" uib-typeahead="subCategory as (subCategory.name) for subCategory in model.subCategoryList |filter:$viewValue|limitTo:10"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Brand</label></td>
                                <td><input class="form-control" ng-model="model.item.brand" ng-disabled="ui.disable !== 'item'" uib-typeahead="brand as (brand.name) for brand in model.brandList |filter:$viewValue|limitTo:10" ng-keypress="ui.keyEventItem($event)"></td>
                            </tr>

                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab heading="UNIT" index="2" ng-click="ui.setTabPane(1)">
                    <table class="table-rounded  control-table">
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                        <tbody>                   
                            <tr>
                                <td><label class="control-label">Item *</label></td>
                                <td><input id="unitItem" class="form-control" ng-model="tempUnit.item"  ng-disabled="ui.disable !== 'unit'" uib-typeahead="item as (item.name +' - Rs:'+ item.salesPrice) for item in model.itemList |filter:$viewValue |filter:{type:'STOCK'}|limitTo:10"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Unit Name *</label></td>
                                <td><input class="form-control" ng-model="tempUnit.name" ng-disabled="ui.disable !== 'unit'"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Sale Price *</label></td>
                                <td><input class="form-control" smart-input="decimal" ng-model="tempUnit.salesPrice" ng-disabled="ui.disable !== 'unit'"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Cost Price *</label></td>
                                <td><input class="form-control" smart-input="decimal" ng-model="tempUnit.costPrice" ng-disabled="ui.disable !== 'unit'"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Quantity *</label></td>
                                <td><input class="form-control" smart-input="decimal" ng-model="tempUnit.qty" ng-keypress="ui.keyEventUnit($event)" ng-disabled="ui.disable !== 'unit'"></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab heading="PACKAGE" index="3" ng-click="ui.setTabPane(2)">
                    <table class="table-rounded  control-table">
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                        <tbody>                   
                            <tr>
                                <td><label class="control-label">Name *</label></td>
                                <td><input id="packageItem" class="form-control" ng-model="model.package.packages" ng-disabled="ui.disable !== 'package'"  uib-typeahead="package as (package.name+'  Rs:'+package.salesPrice) for package in model.itemList |filter:$viewValue |filter:{type:'PACKAGE'}|limitTo:10"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Item *</label></td>
                                <td><input class="form-control" ng-model="model.package.item" ng-keypress="ui.keyEventPackage($event)" ng-disabled="ui.disable !== 'package'" uib-typeahead="package as (package.name+'  Rs:'+package.salesPrice) for package in model.itemList |filter:$viewValue |filter:{type:'SERVICE'}|limitTo:10"></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="col-xs-8 background-dark" ng-show="ui.tableShow === 1">
        <div class="row col-xs-5">
            <input type="text" class="search-input" ng-model="model.search.name" placeholder="search">
        </div>
        <table class="table-rounded">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 10%">
            <thead class="background-dark">
                <tr>
                    <th>
                        <label>Type</label>
                    </th>
                    <th>
                        <label>Name </label>
                    </th>
                    <th>
                        <label>Bar code</label>
                    </th>
                    <th>
                        <label>Sale Price</label>
                    </th> 
                    <th>
                        <label>Cost Price</label>
                    </th> 
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 200px);">

            <table class="table-rounded animation-fade">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="item in model.itemList| filter : model.search.name | orderBy : 'indexNo'" class="background-light">
                        <td>{{item.type}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.barcode}}</td>
                        <td>{{item.salesPrice}}</td>
                        <td>{{item.costPrice}}</td>
                        <td class="text-right" style="padding-left: 5px;">
                            <a class="btn btn-primary" ng-click="ui.editItem(item, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="http.deleteItem(item.indexNo, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-8 background-dark" ng-show="ui.tableShow === 2">
        <div class="row col-xs-5">
            <input type="text" class="search-input" ng-model="searchUnit" placeholder="search">
        </div>
        <table class="table-rounded">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 10%">
            <col style="width: 10%">
            <thead class="background-dark">
                <tr>
                    <th>
                        <label>Item Name</label>
                    </th>
                    <th>
                        <label>Unit Name</label>
                    </th>
                    <th>
                        <label>Sale Price</label>
                    </th>
                    <th>
                        <label>Cost Price</label>
                    </th> 
                    <th>
                        <label>Qty</label>
                    </th> 
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 150px);">
            <table class="table-rounded animation-fade">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 10%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="unit in model.unitList|filter:searchUnit |orderBy:'indexNo'" class="background-light">
                        <td>{{unit.item.name}}</td>
                        <td>{{unit.name}}</td>
                        <td>{{unit.salesPrice}}</td>
                        <td>{{unit.costPrice}}</td>
                        <td>{{unit.qty}}</td>
                        <td class="text-right" style="padding-left: 5px;">
                            <a class="btn btn-primary" ng-click="ui.editUnit(unit, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="http.deleteUnit(unit.indexNo, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-8 background-dark" ng-show="ui.tableShow === 3">
        <div class="row col-xs-5">
            <input type="text" class="search-input" ng-model="searchPackage" placeholder="search">
        </div>
        <table class="table-rounded">
            <col style="width: 10%">
            <col style="width: 35%">
            <col style="width: 35%">
            <col style="width: 20%">
            <thead class="background-dark">
                <tr>
                    <th>
                        <label>#</label>
                    </th>
                    <th>
                        <label>Package Name</label>
                    </th>
                    <th>
                        <label>Package Item</label>
                    </th>
                    <th>
                        <label>&nbsp;</label>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 150px);">
            <table class="table-rounded animation-fade">
                <col style="width: 10%">
                <col style="width: 35%">
                <col style="width: 35%">
                <col style="width: 20%">
                <tbody>
                    <tr ng-repeat="package in model.packageItemList|filter:searchPackage |orderBy:'indexNo'" class="background-light">
                        <td>{{package.indexNo}}</td>
                        <td>{{package.packages.name}}</td>
                        <td>{{package.item.name}}</td>
                        <td class="text-right" style="padding-left: 5px;">
                            <a class="btn btn-primary" ng-click="ui.editPackage(package, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="http.deletePackage(package.indexNo, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'SAVE'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'ADD'" ng-click="ui.addUnit();"><i class="glyphicon glyphicon-ok"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'PACKAGE'" ng-click="ui.savePackage();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
