<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-4 background-light">
        <div style="display: flex; flex-flow: column; height: calc(100vh - 1px);">
            <uib-tabset>
                <uib-tab heading="PRODUCT" index="1" ng-click="ui.setTabPane(0)">
                    <table class="table-rounded  control-table">
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                        <tbody>                   
                            <tr>
                                <td><label class="control-label">Name</label></td>
                                <td><input class="form-control" ng-model="model.item.name" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="name as (item.name) for item in model.itemList |filter:$viewValue|limitTo:10"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Barcode</label></td>
                                <td><input class="form-control" ng-model="model.item.barcode" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="type as (type.name) for type in model.typeList |filter:$viewValue|limitTo:10"></td>
                            </tr>
                            <tr>

                                <td><label class="control-label">Print Description</label></td>
                                <td><input focus class="form-control" ng-model="model.item.printDecription" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Unit</label></td>
                                <td><input class="form-control" ng-model="model.item.unit" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" ></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Sale Price</label></td>
                                <td><input class="form-control" ng-model="model.item.salePrice" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Cost Price</label></td>
                                <td><input class="form-control text-right" ng-model="model.item.costPrice" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Type</label></td>
                                <td><select class="form-control" ng-model="model.item.type" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                                        <option value="STOCK">STOCK</option>
                                        <option value="NON-STOCK">NON-STOCK</option>
                                        <option value="SERVICE">SERVICE</option>
                                    </select>
                            </tr>
                            <tr>
                                <td><label class="control-label">Department</label></td>
                                <td><input class="form-control" ng-model="model.item.department" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="department as (department.name) for department in model.itemDepartmentList |filter:$viewValue|limitTo:10"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Brand</label></td>
                                <td><input class="form-control" ng-model="model.item.brand" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="owner as (model.vehicle.ownerName) for owner in model.vehicle.ownerName |filter:$viewValue|limitTo:10"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Category</label></td>
                                <td><input class="form-control" ng-model="model.item.category" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="category as (category.name) for category in model.categoryList |filter:$viewValue|limitTo:10"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Sub Category</label></td>
                                <td><input class="form-control" ng-model="model.item.subCategory" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="subCategory as (subcategory.name) for subcategory in model.subCategoryList |filter:$viewValue|limitTo:10"></td>
                            </tr>

                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab heading="UNIT" index="2" ng-click="ui.setTabPane(1)">
                    <table class="table-rounded  control-table">
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                        <tbody>                   
                            <tr>
                                <td><label class="control-label">Name</label></td>
                                <td><input class="form-control" id="employee" ng-model="model.item.units.name"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Sale Price</label></td>
                                <td><input class="form-control" id="employee" ng-model="model.item.units.salePrice"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">Cost Price</label></td>
                                <td><input class="form-control" id="employee" ng-model="model.item.units.costPrice"></td>
                            </tr>
                            <tr>
                                <td><label class="control-label">qty</label></td>
                                <td><input class="form-control" id="employee" ng-model="model.item.units.qty"></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <div class="col-xs-8 background-dark">
        <div class="row col-xs-5">
            <input type="text" class="search-input" ng-model="model.search.name" placeholder="search">
        </div>
        <table class="table-rounded">
            <col style="width: 25%">
            <col style="width: 25%">
            <col style="width: 20%">
            <col style="width: 15%">
            <col style="width: 15%">
            <thead class="background-dark">
                <tr>
                    <th>
                        <label>Unit Name</label>
                    </th>
                    <th>
                        <label>Sale Price</label>
                    </th>
                    <th>
                        <label>Cost Price</label>
                    </th> 
                    <th>
                        <label>Qty</label>
                    </th> 
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 220px);">
            <table class="table-rounded animation-fade">
                <col style="width: 25%">
                <col style="width: 25%">
                <col style="width: 20%">
                <col style="width: 15%">
                <col style="width: 15%">
                <tbody>
                    <tr ng-repeat="unit in model.unitList| filter : model.search.name" class="background-light">
                        <td>{{unit.name}}</td>
                        <td>{{unit.salePrice}}</td>
                        <td>{{unit.costPrice}}</td>
                        <td>{{unit.qty}}</td>
                        <td class="text-right" style="padding-left: 5px;">
                            <a class="btn btn-primary" ng-click="ui.edit(unit, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="http.deleteUnit(unit.indexNo, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW2'" ng-click="ui.add();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
