

<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-4 background-light">
        <div style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12" style="margin-top: 10px;">
                <div class="input-group input-group-md">
                    <input type="text" style="text-transform: uppercase;" class="form-control" placeholder="Search vehicles..."
                           ng-model="model.searchKeyword">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
                <div class="list-group" style="padding-top: 5px; position: absolute; z-index: 5; width: calc(100% - 30px); margin-bottom: 0px;"
                     ng-show="model.showSuggestions">
                    <a class="list-group-item" ng-repeat="vehicle in model.searchSuggestions|limitTo:5" ng-click="ui.setVehicleData(vehicle);">
                        <i class="glyphicon glyphicon-cd"></i>&nbsp; 
                        <b ng-bind="vehicle.vehicleNo">[VEHICLE NUMBER]</b>&nbsp;<small ng-bind="'(' + vehicle.indexNo + ')'"></small>&nbsp;<small ng-bind="'(' + vehicle.client + ')'"></small>
                    </a>
                    <a class="list-group-item active" ng-click="ui.new();">
                        <b><i>(ADD NEW VEHICLE)</i></b>
                    </a>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top: 25px;">
                <label>Client </label>
                <input id="clientText" type="text" class="form-control" ng-model="model.vehicle.client" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="client.indexNo as (client.indexNo + ' - ' + client.name) for client in model.clientList |filter:$viewValue|limitTo:10" typeahead-input-formatter="clientLable($model)" />
                <label>Vehicle No</label>
                <input type="text" class="form-control" ng-model="model.vehicle.vehicleNo" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
                <label>Vehicle Type</label>
                <input type="text" class="form-control" ng-model="model.vehicle.vehicleType" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="vehicleType.indexNo as (vehicleType.indexNo + ' - ' +vehicleType.model) for vehicleType in model.vehicleTypeList |filter:$viewValue|limitTo:10" typeahead-input-formatter="vehicleTypeLabel($model)"/>
                <label>Price Category</label>
                <input type="text" class="form-control" ng-model="model.vehicle.priceCategory" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="priceCategory.indexNo as (priceCategory.indexNo + ' - ' + priceCategory.name) for priceCategory in model.priceCategoryList | filter:$viewValue|limitTo:10" typeahead-input-formatter = "priceCategoryLabel($model)"/>        
                <label>Type</label>
                <select class="form-control" ng-model="model.vehicle.type" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                    <option value="REGISTERED"> REGISTERED </option>
                    <option value="NORMAL" > NORMAL </option>
                </select>
                <label>Year</label>
                <input type="text" class="form-control" ng-model="model.vehicle.year" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
            </div>
        </div>
    </div>

    <div class="col-xs-4 background-light">
        <div class="col-xs-12" style="margin-top: 10px;">
            <label>Engine No</label>
            <input type="text" class="form-control" ng-model="model.vehicle.engineNo" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
            <label>Chassis No</label>
            <input type="text" class="form-control" ng-model="model.vehicle.chasisNo" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
            <label>Insurance Expiry Date</label>
            <input smart-input='date' class="form-control" ng-model="model.vehicle.insuranceExpiryDate" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
            <label>Revenue Expiry Date</label>
            <input smart-input='date' class="form-control" ng-model="model.vehicle.revenueExpiryDate" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
            <label>Last Milage</label>
            <input type="text" class="form-control" ng-model="model.vehicle.lastMilage" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
            <label>Next Milage</label>
            <input type="text" class="form-control" ng-model="model.vehicle.nextMilage" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
            <label>Color</label>
            <input type="text" class="form-control" ng-model="model.vehicle.colour" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" />
        </div>
    </div>
</div>

<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>