<!DOCTYPE html>
<html>
    <head>
        <title>Care Point</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--css-->
        <!-- inject:css -->
        <!-- endinject -->

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    </head>
    <body ng-app="appModule" ng-controller="appController">
        <!--side panel-->
        <div class="side-bar-left background-ultra-dark" ng-class="hamburgerOpen ? 'side-bar-hidden' : ''">
            <div>
                <div class="brand">
                    <div class="brand-image"></div>
                    <div class="brand-text">CARE POINT</div>

                    <div class="hamburger" ng-click="toggleHamburger();">
                        <div ng-class="hamburgerOpen ? '' : 'open'">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>


                <div class="user">
                    <img src="img/avatar.jpg" class="avatar img-circle"/>
                    <div class="name">
                        <span>LOGIN USER</span>
                    </div>
                </div>

                <div class="search">
                    <input type="text" placeholder="search">
                </div>

                <div class="index-sidebar-navigation">
                    <ul>
                        <li> 
                            <a class="menu-header">TRANSACTION</a>
                            <ul>
                                <li><a href="#/service/vehicle-entrance">Vehicle Entrance</a></li> 
                                <li><a href="#/service/service-selection">Service Selections</a></li>
                            </ul>
                        </li>
                        <li> 
                            <a class="menu-header">REGISTRATION</a>
                            <ul>
                                <li><a href="#/master/item">Item</a></li>
                                <li><a href="#/master/sub-category">Sub Category</a></li>
                                <li><a href="#/master/category">Category</a></li>
                                <li><a href="#/master/item-department">Item Department</a></li>
                                <li><a href="#/master/brand">Brand</a></li>
                                <li><a href="#/master/price-category">Price Category</a></li>
                                <li><a href="#/master/vehicle-type">Vehicle Type</a></li>
                                <li><a href="#/master/client">Client</a></li>
                                <li><a href="#/master/vehicle">Vehicle</a></li>
                                <li><a href="#/master/sub_item">Sub Item</a></li>
                            </ul>
                        </li>
                    </ul>
<!--                    <ul>
                        <li ng-repeat="item in items" ng-click="showChilds($index)">
                            <span>{{item.name}}</span>
                            <ul>
                                <li ng-repeat="subItem in item.subItems" ng-show="item.active">
                                    <a class="menu-header" href="{{subItem.routingUrl}}">{{subItem.routingName}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>-->
                </div>
            </div>
        </div>
        <!--end side panel-->

        <div class="index-middle">

            <div ng-view>
                <!--CONTENT OF THE APP-->
            </div>
        </div>
        <!--js dependencies-->
        <!-- inject:js -->
        <!-- endinject -->
    </body>
</html>
