<div class="index-content-header"></div>

<div class="index-content-body ">

    <div class="col-xs-8 background-light">
        <div class="row col-xs-3 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td><input class="form-control" placeholder="number" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-3 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td><input class="form-control" placeholder="date" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-3 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td><input class="form-control" placeholder="reference number" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-3 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td><input class="form-control" placeholder="supplier" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="background-light">
            <div class="row col-xs-3 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td><input class="form-control" placeholder="barcode" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-3 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td><input class="form-control" placeholder="description" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-3 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td><input class="form-control" placeholder="cost price" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-2 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td><input class="form-control" placeholder="qty" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-1 nopadding">
                <table class="square-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr style="background-color: white;border: 0px">
                            <td>
                                <a class="btn btn-primary" ng-click="">
                                    <span class="glyphicon glyphicon-plus">
                                    </span>
                                </a> 
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <table class="table-rounded">
            <col style="width: 10%"/>
            <col style="width: 30%"/>
            <col style="width: 11%"/>
            <col style="width: 11%"/>
            <col style="width: 10%"/>
            <col style="width: 8%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>

            <thead class="background-dark">
                <tr>
                    <th>Barcode</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Cost</th>
                    <th>Qty</th>
                    <th>Value</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 296px);">
            <table class="table-rounded">
                <col style="width: 10%"/>
                <col style="width: 30%"/>
                <col style="width: 11%"/>
                <col style="width: 11%"/>
                <col style="width: 10%"/>
                <col style="width: 8%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <tbody>
                    <tr ng-repeat="a in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
                        <td><span class="label label-default">1212</span></td>
                        <td>Oil Filter</td>
                        <td>category</td>
                        <td>brand</td>
                        <td>1200.00</td>
                        <td>10</td>
                        <td>12000.00</td>
                        <td class="text-right">
                            <a class="btn btn-primary" ng-click="ui.edit(department,$index)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="http.deleteDepartment(department.indexNo,$index)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-xs-8" style="position: fixed;bottom: 1px;margin-left:-15px;height:144px;width: 64%">
            <table class="table-rounded background-dark">
                <col style="width: 64%"/>
                <col style="width: 9%"/>
                <col style="width: 12%"/>
                <col style="width: 10%"/>
                <tbody>
                    <tr class="background-dark">
                        <td class="text-right"><b>SUMMARY :</b></td>
                        <td><input class="form-control" placeholder="qty" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                        <td><input class="form-control text-right" placeholder="value" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>

                    </tr>
                </tbody>
            </table>

            <table class="table-rounded background-dark">
                <col style="width: 64%"/>
                <col style="width: 9%"/>
                <col style="width: 12%"/>
                <col style="width: 10%"/>
                <tbody>
                    <tr class="background-dark">
                        <td class="text-right"><b>DISCOUNT :</b></td>
                        <td><input class="form-control" placeholder="%" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                        <td><input class="form-control text-right" placeholder="discount" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>

                    </tr>
                </tbody>
            </table>
            <table class="table-rounded background-dark">
                <col style="width: 64%"/>
                <col style="width: 21%"/>
                <col style="width: 10%"/>
                
                <tbody>
                    <tr class="background-dark">
                        <td class="text-right"><b>Net&nbsp;&nbsp; Value :</b></td>
                        <td><input class="form-control text-right" placeholder="net value" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 1px);">
            <div class="col-xs-12" style="flex: 0 0 auto;padding-right: 22px;">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>
                    <center>
                        <label class="h4">
                            <b>SUPPLIER HISTORY :</b>
                        </label>
                    </center>
                    </td>
                    </tr>
                    </tbody>
                </table> 
            </div>
            <!--supplier details-->
            <div class="col-xs-12" style="flex: 0 0 auto; padding-right: 22px;">
                <table class="table-rounded control-table">
                    <col style="width: 50%"/>
                    <col style="width: 50%"/>
                    <tbody>
                        <tr>
                            <td>SUPPLIER NAME :</td>
                            <td>
                                <input class="form-control" placeholder="supplier name" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table> 
                <table class="table-rounded control-table">
                    <col style="width: 50%"/>
                    <col style="width: 50%"/>
                    <tbody>
                        <tr>
                            <td>CONTACT NAME :</td>
                            <td>
                                <input class="form-control" placeholder="contact name" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table> 
                <table class="table-rounded control-table">
                    <col style="width: 50%"/>
                    <col style="width: 50%"/>
                    <tbody>
                        <tr>
                            <td>CONTACT NUMBER :</td>
                            <td>
                                <input class="form-control" placeholder="contact number" ng-model="model.itemData.brand" uib-typeahead="brand.indexNo as (brand.indexNo + ' - ' + brand.name) for brand in model.brands |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.brandLable($model)" ng-disabled="ui.mode !== 'EDIT'">
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <table class="table-rounded">
                <col style="width: 15%"/>
                <col style="width: 25%"/>
                <col style="width: 20%"/>
                <col style="width: 20%"/>
                <col style="width: 20%"/>

                <thead class="background-dark">
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Net</th>
                        <th>Pay</th>
                        <th>Balance</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 296px);">
                <table class="table-rounded">
                    <col style="width: 15%"/>
                    <col style="width: 25%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <tbody>
                        <tr ng-repeat="a in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
                            <td><span class="label label-default">{{a}}</span></td>
                            <td>2017-01-04</td>
                            <td>12300.00</td>
                            <td>10000.00</td>
                            <td>2300.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-4" style="position: fixed;bottom: 1px;margin-left:-15px;height:40px;">
               <table class="table-rounded">
                <col style="width: 15%"/>
                <col style="width: 25%"/>
                <col style="width: 20%"/>
                <col style="width: 20%"/>
                <col style="width: 20%"/>

                <thead class="background-dark">
                    <tr>
                        <td><span class="label label-primary">18</span></td>
                        <td></td>
                        <td>234000.00</td>
                        <td>3500.00</td>
                        <td>21100.00</td>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="'IDEAL' === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="'w' === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>