@import "mixins/variables.scss";

.spinner{
    display: table;
    margin: 2px;
    border-radius: 10px 10px 10px 10px;
}
.spinner-input{
    width: 60px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 2px;
}
.spinner-buttons{
    margin: 5px;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    font-size: 80%;
    padding: 0px;
    line-height: 34px;
}
.spinner-buttons .spinner-minus-button{
    left: 0;
}
.spinner-buttons .spinner-plus-button{
    right: 0;
}
