<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12" style="flex: 0 0 auto; height: 95px; padding-right: 22px;">
                <table class="table-rounded control-table">
                    <col style="width: 35%"/>
                    <col style="width: 65%"/>
                    <tbody>
                        <tr>
                            <td><label>Name :</label></td>
                            <td><input class="form-control" ng-model="model.client.name" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"> </td>
                        </tr>
                        <tr>
                            <td><label>Mobile :</label></td>
                            <td><input class="form-control" ng-model="model.client.mobile" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td><label>Customer Type :</label></td>
                            <td>
                                <input class="form-control" ng-model="model.client.customerType" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="customerType.indexNo as (customerType.indexNo+ ' - ' +customerType.name) for customerType in model.customerTypeList |filter:$viewValue |limitTo:10" typeahead-input-formatter="ui.customerTypeLable(model.client.customerType);">
                            </td>
                        </tr>
                        <tr>
                            <td><label>NIC:</label></td>
                            <td><input class="form-control" ng-model="model.client.nic" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"> </td>
                        </tr>
                        <tr>
                            <td><label>Address 01 :</label></td>
                            <td><input class="form-control" ng-model="model.client.addressLine1" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td><label>Address 02 :</label></td>
                            <td><input class="form-control" ng-model="model.client.addressLine2" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td><label>Address 03 :</label></td>
                            <td><input class="form-control" ng-model="model.client.addressLine3" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 10px);">
            <div class="col-xs-12">
                <div class="row col-xs-5">
                    <input type="text" class="search-input" ng-model="model.search.name" placeholder="search">
                </div>
                <table class="table-rounded">
                    <col style="width: 15%">
                    <col style="width: 20%">
                    <col style="width: 20%">
                    <col style="width: 15%">
                    <col style="width: 20%">
                    <col style="width: 10%">
                    <thead class="background-dark">
                        <tr>
                            <th> <label>#</label> </th>
                            <th> <label>Name</label></th>
                            <th> <label>Mobile</label></th>
                            <th> <label>Nic</label></th>
                            <th> <label>Customer Type</label></th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 128px);">
                    <table class="table-rounded">
                        <col style="width: 15%">
                        <col style="width: 20%">
                        <col style="width: 20%">
                        <col style="width: 15%">
                        <col style="width: 20%">
                        <col style="width: 10%">
                        <tbody>
                            <tr ng-repeat="client in model.clientList| filter:model.search.name | orderBy:'indexNo'">
                                <td><label class="label label-default">{{client.indexNo|fixedLength:5}}</label></td>
                                <td>{{client.name}}</td>
                                <td>{{client.mobile}}</td>
                                <td>{{client.nic==null?'- - -':client.nic}}</td>
                                <td><label class="label label-primary">{{ui.customerTypeLable(client.customerType)}}</label></td>

                                <td class="text-right" style="padding-left: 5px;">
                                    <a class="btn btn-primary" ng-click="ui.edit(client, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn btn-danger" ng-click="http.deleteClient(client.indexNo, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div>
    <ul ng-if="vm.pager.pages.length" class="pagination">
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
            <a ng-click="vm.setPage(page)">{{page}}</a>
        </li>               
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
        </li>
    </ul>
</div>-->
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>

    <!--    <ul ng-if="vm.pager.pages.length" class="pagination">
            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                <a ng-click="vm.setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === 1}">
                <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                <a ng-click="vm.setPage(page)">{{page}}</a>
            </li>               
            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
            </li>
        </ul>-->

</div>