<div class="index-content-body">
    <div class="col-xs-4 background-dark">
        <div class="row background-light">
            <div class="col-xs-12">
                <h4 class="text-primary">CHECKED GROUP LIST</h4>
            </div>
        </div>
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 40px);">
            <table class="square-table background-dark" style="width: 99%">
                <col style="width: 10%;"/>
                <col style="width: 80%;"/>
                <col style="width: 10%;"/>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>NAME</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                <div class="background-light-dark">
                    <table class="square-table">
                        <col style="width: 10%;"/>
                        <col style="width: 70%;"/>
                        <col style="width: 10%;"/>
                        <col style="width: 10%;"/>
                        <tbody>
                            <tr ng-repeat="items in model.subItemList" class="text-bold">
                                <td>{{items[0]}}</td>
                                <td>{{model.itemLabel(items[0])}}</td>
                                <td><label class="label label-default">{{items[1]}} / {{items[0]}}</label></td>
                                <td><a class="btn btn-primary" ng-click="ui.selectButton(items[0])"><span class="glyphicon glyphicon-play"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5 background-light">
        <div class="row background-light">
            <div class="col-xs-12">
                <h4 class="text-primary">NOT CHECK ITEMS</h4>
            </div>
        </div>
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 40px);">
            <table class="square-table background-dark">
                <col style="width: 6%;"/>
                <col style="width: 50%;"/>
                <col style="width: 10%;"/>
                <col style="width: 10%;"/>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>NAME</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                <div class="background-light-dark">
                    <table class="square-table">
                        <col style="width: 5%;"/>
                        <col style="width: 50%;"/>
                        <col style="width: 33%;"/>
                        <col style="width: 6%;"/>
                        <col style="width: 6%;"/>
                        <tbody class="animation-fade" ng-repeat="subItem in model.findItemList">
                            <tr>
                                <td>{{}}</td>
                                <td>{{subItem.subName}}</td>
                                <td>{{}}</td>
                                <td><a class="btn btn-success" ng-click="ui.checkingConfirm(subItem, $index);"><span class="glyphicon glyphicon-ok"></span></a></td>
                                <td><a class="btn btn-danger" ng-click="ui.historySelectionDetail($index)"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                            <tr class="animation-fade" ng-show="ui.canselAction === $index">
                                <td colspan="4">
                                    <input type="text" ng-model="$scope.model.newSubItemData.reason" class="form-control" >
                                </td>
                                <td><a class="btn btn-primary" ng-click="ui.checkingCansel(subItem.indexNo)"><span class="glyphicon glyphicon-ok"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 background-dark" >
        <div class="row background-light">
            <div class="col-xs-12">
                <h4 class="text-primary">CHECKED ITEMS</h4>
            </div>
        </div> 

        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 40px);">
            <table class="square-table background-dark">
                <col style="width: 6%;"/>
                <col style="width: 50%;"/>
                <col style="width: 10%;"/>
                <col style="width: 10%;"/>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>NAME</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                <div class="background-light-dark">
                    <table class="square-table">
                        <col style="width: 5%;"/>
                        <col style="width: 50%;"/>
                        <col style="width: 33%;"/>
                        <col style="width: 6%;"/>
                        <col style="width: 6%;"/>
                        <tbody>
                            <tr class="animation-fade" ng-repeat="subItem in model.checkedList">
                                <td>{{}}</td>
                                <td>{{subItem.subName}}</td>
                                <td>{{}}</td>
                                <td><a class="btn btn-success" ng-click="ui.checkingConfirm(subItem.indexNo);"><span class="glyphicon glyphicon-arrow-left"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="fab-container">
    <a class="fab fab-lg fab-primary"><i class="glyphicon glyphicon-ok"></i></a>
</div>