<div class="index-content-body">
    <div class="col-xs-4 background-dark">
        <div class="row background-light">
            <div class="col-xs-12">
                <h4 class="text-primary">CHECKED GROUP LIST</h4>
            </div>
        </div>
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 40px);">
            <table class="square-table background-dark" style="width: 99%">
                <col style="width: 30%;"/>
                <col style="width: 60%;"/>
                <col style="width: 10%;"/>
                <tbody>
                    <tr>
                        <td><input smart-input="date" class="form-control text-right" ng-model="model.date" ng-disabled="true"></td>
<!--                        <td><input type="date" class="form-control text-right" ng-model="model.date" ng-selected="ui.getItems(model.date);"></td>-->
                        <td><a class="btn btn-primary" ng-click="ui.incertDailyCheckList(model.date);"><span class="glyphicon glyphicon-ok"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <table class="square-table background-dark" style="width: 99%">
                <col style="width: 30%;"/>
                <col style="width: 60%;"/>
                <col style="width: 10%;"/>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>NAME</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                <div class="background-light-dark">
                    <table class="square-table">
                        <col style="width: 30%;"/>
                        <col style="width: 40%;"/>
                        <col style="width: 20%;"/>
                        <col style="width: 10%;"/>
                        <tbody>
                            <tr ng-repeat="items in model.items" class="text-bold">
                                <td>{{items.item.indexNo}}</td>
                                <td>{{items.item.name}}</td>
                                <td><label class="label label-default">{{items.allSubItems}} / {{items.chekedItem}}</label></td>
                                <td><a class="btn btn-primary" ng-click="http.getSubItems(items.item, $index);"><span class="glyphicon glyphicon-play"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-light">
        <div class="row background-light">
            <div class="col-xs-12">
                <h4 class="text-primary">CHECK LIST ITEMS</h4>
            </div>
        </div>
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 40px);">
            <table class="square-table background-dark">
                <col style="width: 30%;"/>
                <col style="width: 40%;"/>
                <col style="width: 10%;"/>
                <col style="width: 10%;"/>
                <col style="width: 10%;"/>
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>REASON</th>
                        <th>TIME</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                <div class="background-light-dark">
                    <table class="square-table">
                        <col style="width: 30%;"/>
                        <col style="width: 40%;"/>
                        <col style="width: 10%;"/>
                        <col style="width: 10%;"/>
                        <col style="width: 10%;"/>
                        <tbody class="animation-fade" ng-repeat="subItem in model.subItems|orderBy:'indexNo'">
                            <tr ng-class="{'select-primary-row':subItem.comfirmation == true || subItem === selectedRow2 === true,'select-danger-row':subItem.comfirmation === false || subItem === selectedRow1}">
                                <td>{{subItem.subItem.subName}}</td>
                                <td>{{subItem.reason}}</td>
                                <td>{{subItem.time}}</td>
                                <td><a class="btn btn-primary" ng-click="ui.confirmation(subItem, 'true', $index);"><span class="glyphicon glyphicon-ok"></span></a></td>
                                <td><a class="btn btn-primary" ng-click="historySelectionDetail($index)"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                            <tr class="animation-fade" ng-show="historyActivePosition == $index">
                                <td colspan="4">
                                    <input type="text" class="form-control text-right" ng-model="subItem.reason">
                                </td>
                                <td><a class="btn btn-primary" ng-click="ui.confirmation(subItem, 'false', $index);"><span class="glyphicon glyphicon-ok"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fab-container">
    <a class="fab fab-lg fab-primary"><i class="glyphicon glyphicon-ok"></i></a>
</div>