<!--<!DOCTYPE html>
<div class="index-content-body">
    <div class="col-xs-12">
        <div class="col-xs-2"></div>

        <div class="col-xs-8">

            <h1>vehicle entrance div</h1>
            <div class="col-xs-12"  style="margin-top:30%;" ng-show="ui.searchUi === 'ur1'">
                <input class="form-control" type="text" placeholder="vehicel no" ng-model="vehicleNo"  style="text-align: center;font-size: 40px; height: 60px; float: right;" >
                <div style="padding-top: 80px;">
                    <button type="submit" value="Next" class="btn btn-lg btn-primary" ng-click="ui.onSelect();" style="border-radius: 200px; width: 80px; height: 80px; margin-left: 20px; float: right;">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </button>
                </div>
            </div>

            <h1>old client div</h1>
            <div class="col-xs-12" ng-show="ui.searchUi === 'ur2'">
                <h1><label>Old Client</label></h1>
                <div style="width: 80%; margin: 0 auto;margin-top: 50px;"> 
                    <div class="col-xs-6" style="flex: 0 0 auto; height: 430px; padding-right: 22px;">
                        <label style="font-size: 20px;">CLIENT DETAILS</label><br>
                        <label>Name :</label>
                        <input class="form-control" ng-disabled="ui.mode == EDIT " ng-model="model.clientData.name" uib-typeahead="client as client.name for client in model.clientList|filter:{name :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" >  <br>
                        <label>NIC :</label>
                        <input class="form-control" ng-disabled="ui.mode == EDIT" ng-model="model.clientData.nic" uib-typeahead="client as client.nic for client in model.clientList|filter:{nic :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" > <br>
                        <label>Mobile :</label>
                        <input class="form-control" ng-disabled="ui.mode == EDIT" ng-model="model.clientData.mobile" uib-typeahead="client as client.mobile for client in model.clientList|filter:{mobile :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" ><br>                      
                    </div>
                    <div class="col-xs-6" style="flex: 0 0 auto; height: 430px; padding-left: 22px;">
                        <label style="font-size: 20px;">VEHICLE DETAILS</label><br>
                        <label>Vehicle No :</label>
                        <input class="form-control" ng-model="model.vehicleData.vehicleNo" disabled><br>
                        <label>Vehicle Type :</label>
                        <input class="form-control" ng-model="model.vehicleData.vehicleType" disabled uib-typeahead="vehicleType.indexNo as vehicleType.type for vehicleType in model.vehicleTypeList|filter:{type :$viewValue}|limitTo:10" typeahead-input-formatter="model.vehicleTypeLabel($model)"  ><br>
                        <label>Chassis No :</label>
                        <input class="form-control" ng-model="model.vehicleData.chasisNo" disabled><br>
                        <label>Price Category :</label>
                        <input class="form-control"  ng-model="model.vehicleData.priceCategory" disabled uib-typeahead="priceCategory.indexNo as priceCategory.name for priceCategory in model.priceCategoryList|filter:{name :$viewValue}|limitTo:10" typeahead-input-formatter="model.priceCategoryLabel($model)" ><br>
                        <label>Last Milage :</label>
                        <input class="form-control"  ng-model="model.vehicleData.inMilage" ><br> 
                    </div >
                    <button class="btn btn-lg btn-success " type="submit" ng-click="ui.saveJobCard()" style="margin-left: 5px; float: right;" >
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-lg btn-warning" type="submit" ng-click="ui.updateVehicle()"  style="margin-left: 5px; float: right;">    
                        <span class="glyphicon glyphicon-edit"></span>   
                    </button>
                    <button class="btn btn-lg btn-warning" type="submit" ng-click="ui.new()"  style="margin-left: 5px; float: right;">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   
                    </button>
                    <button class="btn btn-lg btn-primary " type="submit" ng-click="ui.backButton('secondButton');"  style="margin-right:40px; float: right;">
                        <span class="glyphicon glyphicon-fast-backward">
                    </button>
                </div>
            </div>

            <div>
                <div class="bacground-dark">

                </div>
                <div class="background-light">

                </div>
            </div>

            new client div
            <div class="col-xs-12" ng-show="ui.searchUi === 'ur3'">
                <h1><label>New Client</label></h1>
                <div style="width: 80%; margin: 0 auto;margin-top: 50px;"> 
                    <div class="col-xs-6" style="flex: 0 0 auto; height: 430px; padding-right: 22px;">
                        <label style="font-size: 20px;">CLIENT DETAILS</label><br>
                        <label>Name :</label>
                        <input class="form-control" ng-model="model.clientData.name" uib-typeahead="client as client.name for client in model.clientList|filter:{name :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" >  <br>
                        <label>NIC :</label>
                        <input class="form-control" ng-model="model.clientData.nic" uib-typeahead="client as client.nic for client in model.clientList|filter:{nic :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" > <br>
                        <label>Mobile :</label>
                        <input class="form-control" ng-model="model.clientData.mobile" uib-typeahead="client as client.mobile for client in model.clientList|filter:{mobile :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" ><br>

                    </div>
                    <div class="col-xs-6" style="flex: 0 0 auto; height: 430px; padding-left: 22px;">
                        <label style="font-size: 20px;">VEHICLE DETAILS</label><br>
                        <label>Vehicle No :</label>
                        <input class="form-control" ng-model="model.vehicleData.vehicleNo" disabled><br>
                        <label>Vehicle Type :</label>
                        <input class="form-control" ng-model="model.vehicleData.vehicleType" uib-typeahead="vehicleType.indexNo as vehicleType.type for vehicleType in model.vehicleTypeList|filter:{type :$viewValue}|limitTo:10" typeahead-input-formatter="model.vehicleTypeLabel($model)"  ><br>
                        <label>Chassis No :</label>
                        <input class="form-control" ng-model="model.vehicleData.chasisNo" ><br>
                        <label>Price Category :</label>
                        <input class="form-control"  ng-model="model.vehicleData.priceCategory" uib-typeahead="priceCategory.indexNo as priceCategory.name for priceCategory in model.priceCategoryList|filter:{name :$viewValue}|limitTo:10" typeahead-input-formatter="model.priceCategoryLabel($model)" ><br> 
                        <label>Last Milage :</label>
                        <input class="form-control"  ng-model="model.vehicleData.lastMilage" ><br> 
                    </div >
                    <button class="btn btn-lg btn-success " type="submit" ng-click="ui.saveJobCard()" style="margin-left: 5px; float: right;" >
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-lg btn-warning" type="submit" ng-click="ui.updateVehicle()"  style="margin-left: 5px; float: right;">    
                        <span class="glyphicon glyphicon-edit"></span>   
                    </button>
                    <button class="btn btn-lg btn-info" type="submit" ng-click="ui.new()"  style="margin-left: 5px; float: right;">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>   
                    </button>
                    <button class="btn btn-lg btn-primary " type="submit" ng-click="ui.backButton('secondButton');"  style="margin-right:40px; float: right;">
                        <span class="glyphicon glyphicon-fast-backward">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div> 
    </div>
</div>

<!DOCTYPE html>
<div class="index-content-body">
    <div class="col-xs-12">
        <div class="col-xs-2"></div>

        <div class="col-xs-8">

            vehicle entrance div
            <div class="col-xs-12"  style="margin-top:30%;" ng-show="ui.searchUi === 'ur1'">
                <input class="form-control" placeholder="Input Vehicel No" ng-model="model.vehicleNo" style="font-size: 50px; height: 60px;" uib-typeahead="vehicle.indexNo as vehicle.vehicleNo for vehicle in model.vehicleList|filter:{vehicleNo :$viewValue}|limitTo:10" typeahead-input-formatter="model.vehicleLabel($model)" typeahead-on-select="ui.getSelectVehicle($model)" style="float: right;" ><br>
                <button type="submit" value="Next" class="btn btn-lg btn-success" ng-click="ui.changeUi();" style="width: 100px;margin-left: 20px; margin-right: 10px;  float: right;">
                    <span class="glyphicon glyphicon-fast-forward">
                </button>
                <button  value="Clear" class="btn btn-lg btn-warning" ng-click="ui.clear();" style="width: 100px; padding-left:10px; float: right;">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>

            old client div
            <div class="col-xs-12" ng-show="ui.searchUi === 'ur2'">
                <h1><label>Old Client</label></h1>
                <div style="width: 80%; margin: 0 auto;margin-top: 50px;"> 
                    <div class="col-xs-6" style="flex: 0 0 auto; height: 430px; padding-right: 22px;">
                        <label style="font-size: 20px;">CLIENT DETAILS</label><br>
                        <label>Name :</label>
                        <input class="form-control" ng-disabled="ui.mode == EDIT " ng-model="model.clientData.name" uib-typeahead="client as client.name for client in model.clientList|filter:{name :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" >  <br>
                        <label>NIC :</label>
                        <input class="form-control" ng-disabled="ui.mode == EDIT" ng-model="model.clientData.nic" uib-typeahead="client as client.nic for client in model.clientList|filter:{nic :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" > <br>
                        <label>Mobile :</label>
                        <input class="form-control" ng-disabled="ui.mode == EDIT" ng-model="model.clientData.mobile" uib-typeahead="client as client.mobile for client in model.clientList|filter:{mobile :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" ><br>                      
                    </div>
                    <div class="col-xs-6" style="flex: 0 0 auto; height: 430px; padding-left: 22px;">
                        <label style="font-size: 20px;">VEHICLE DETAILS</label><br>
                        <label>Vehicle No :</label>
                        <input class="form-control" ng-model="model.vehicleData.vehicleNo" disabled><br>
                        <label>Vehicle Type :</label>
                        <input class="form-control" ng-model="model.vehicleData.vehicleType" disabled uib-typeahead="vehicleType.indexNo as vehicleType.type for vehicleType in model.vehicleTypeList|filter:{type :$viewValue}|limitTo:10" typeahead-input-formatter="model.vehicleTypeLabel($model)"  ><br>
                        <label>Chassis No :</label>
                        <input class="form-control" ng-model="model.vehicleData.chasisNo" disabled><br>
                        <label>Price Category :</label>
                        <input class="form-control"  ng-model="model.vehicleData.priceCategory" disabled uib-typeahead="priceCategory.indexNo as priceCategory.name for priceCategory in model.priceCategoryList|filter:{name :$viewValue}|limitTo:10" typeahead-input-formatter="model.priceCategoryLabel($model)" ><br>
                        <label>Last Milage :</label>
                        <input class="form-control"  ng-model="model.vehicleData.inMilage" ><br> 
                    </div >
                    <button class="btn btn-lg btn-success " type="submit" ng-click="ui.saveJobCard()" style="margin-left: 5px; float: right;" >
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-lg btn-info" type="submit" ng-click="ui.new()"  style="margin-left: 5px; float: right;">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>   
                    </button>
                    <button class="btn btn-lg btn-primary " type="submit" ng-click="ui.backButton('secondButton');"  style="margin-right:40px; float: right;">
                        <span class="glyphicon glyphicon-fast-backward">
                    </button>
                </div>
            </div>

            new client div
            <div class="col-xs-12" ng-show="ui.searchUi === 'ur3'">
                <h1><label>New Client</label></h1>
                <div style="width: 80%; margin: 0 auto;margin-top: 50px;"> 
                    <div class="col-xs-6" style="flex: 0 0 auto; height: 430px; padding-right: 22px;">
                        <label style="font-size: 20px;">CLIENT DETAILS</label><br>
                        <label>Name :</label>
                        <input class="form-control" ng-model="model.clientData.name" uib-typeahead="client as client.name for client in model.clientList|filter:{name :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" >  <br>
                        <label>NIC :</label>
                        <input class="form-control" ng-model="model.clientData.nic" uib-typeahead="client as client.nic for client in model.clientList|filter:{nic :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" > <br>
                        <label>Mobile :</label>
                        <input class="form-control" ng-model="model.clientData.mobile" uib-typeahead="client as client.mobile for client in model.clientList|filter:{mobile :$viewValue}|limitTo:10" typeahead-on-select="ui.getSelectData($model)" style="float: right;" ><br>

                    </div>
                    <div class="col-xs-6" style="flex: 0 0 auto; height: 430px; padding-left: 22px;">
                        <label style="font-size: 20px;">VEHICLE DETAILS</label><br>
                        <label>Vehicle No :</label>
                        <input class="form-control" ng-model="model.vehicleData.vehicleNo" ><br>
                        <label>Vehicle Type :</label>
                        <input class="form-control" ng-model="model.vehicleData.vehicleType" uib-typeahead="vehicleType.indexNo as vehicleType.type for vehicleType in model.vehicleTypeList|filter:{type :$viewValue}|limitTo:10" typeahead-input-formatter="model.vehicleTypeLabel($model)"  ><br>
                        <label>Chassis No :</label>
                        <input class="form-control" ng-model="model.vehicleData.chasisNo" ><br>
                        <label>Price Category :</label>
                        <input class="form-control"  ng-model="model.vehicleData.priceCategory" uib-typeahead="priceCategory.indexNo as priceCategory.name for priceCategory in model.priceCategoryList|filter:{name :$viewValue}|limitTo:10" typeahead-input-formatter="model.priceCategoryLabel($model)" ><br> 
                        <label>Last Milage :</label>
                        <input class="form-control"  ng-model="model.vehicleData.lastMilage" ><br> 
                    </div >
                    <button class="btn btn-lg btn-success " type="submit" ng-click="ui.saveJobCard()" style="margin-left: 5px; float: right;" >
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-lg btn-primary " type="submit" ng-click="ui.backButton('secondButton');"  style="margin-right:40px; float: right;">
                        <span class="glyphicon glyphicon-fast-backward">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-2"></div> 
    </div>
</div>
-->
