<div class="index-content-header"></div>

<div class="index-content-body ">
    <div class="col-xs-3 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 53px);padding: 5px">
            <div class="col-xs-12 nopadding" style="flex: 0 0 auto;padding-right: 22px;" ng-show="model.pendingPurchaseOrderList.length">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>
                    <center>
                        <label class="h4">
                            <b>PENDING PURCHASE ORDER :</b>
                        </label>
                    </center>
                    </td>
                    </tr>
                    </tbody>
                </table> 
            </div>
            <div class="smart-scroll-y" style="height: calc(100vh - 158px);" ng-show="model.pendingPurchaseOrderList.length" >
                <table class="table-rounded control-table table-hover">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr ng-repeat="order in model.pendingPurchaseOrderList" ng-click="ui.selectPurchaseOrder(order,$index)">
                            <td class="text-center" ng-class="ui.selectedDetailIndex === order.indexNo ? 'selected' : ''">
                                <b>{{model.getSupplier(order.supplier)}}</b>
                                <a class="btn btn-success pull-right" style="margin-top: 5px" ><span class="glyphicon glyphicon-arrow-right"></span></a><br>
                                <label class="pull-left label label-default" style="margin-top: 8px">{{order.number | fixedLength:5}}</label>
                                <label class="">{{order.date}}</label>
                                <label class="pull-right">{{order.grandTotal2 | number:2}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="col-xs-3" style="position: fixed;bottom: 1px;margin-left:-15px;height:40px;" ng-show="model.pendingPurchaseOrderList.length" >
                <table class="table-rounded">
                    <col style="width: 15%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 25%"/>

                    <thead class="background-dark">
                        <tr>
                            <td><span class="label label-primary">{{model.pendingPurchaseOrderList.length}}</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><b>{{model.grandTotalValue|number:2}}</b></td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="placeholder col-md-12" ng-hide="model.pendingPurchaseOrderList.length" style="height: calc(100vh - 82px); padding: 0px 10px 10px 10px;">
                <h1>PLEASE ADD PURCHASE ORDER REQUEST TO DISPLAY :(</h1>
            </div>
        </div>
    </div>

    <div class="col-xs-9 background-light">
        <div class="row col-xs-3 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>CURRENT DATE<input class="form-control" id="approvedDate" smart-input="date" placeholder="date" ng-model="model.data.approvedDate" ng-disabled="ui.mode !== 'NEW' "></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-3 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>DELIVER DATE<input class="form-control" placeholder="deliver date" 
                                               smart-input="date"
                                               ng-model="model.data.deliverDate" 
                                               ng-disabled="ui.mode !== 'NEW'">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-3 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>ORDER DATE<input class="form-control" id="orderDate" smart-input="date" placeholder="date" ng-model="model.data.date" ng-disabled="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-3 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>SUPPLIER<input class="form-control" id="supplier" placeholder="supplier" 
                                           uib-typeahead="supplier.indexNo as (supplier.indexNo + ' - ' + supplier.name) for supplier in model.suppliers |filter:$viewValue|limitTo:10" 
                                           ng-model="model.data.supplier"
                                           typeahead-input-formatter="model.getSupplier(model.data.supplier)" 
                                           ng-disabled="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="background-light">
            <div class="row col-xs-12 nopadding">
                <table class="table-rounded control-table square-table">
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <tbody>
                        <tr>
                            <td style="padding-right: 0 !important">BARCODE<input class="form-control" id="barcode" placeholder="barcode" ng-model="model.tempData.barcode" ng-keypress="ui.validateBarcode($event)" ng-disabled="true"></td>
                            <td style="padding-right: 0 !important">DESCRIPTION<input class="form-control" id="barcode" placeholder="" ng-model="model.tempData.item"
                                                                                      uib-typeahead="item.indexNo as (item.barcode + ' - ' + item.name) for item in model.allItems |filter:$viewValue|limitTo:10"
                                                                                      typeahead-input-formatter="model.itemLable($model)"
                                                                                      ng-disabled="true"></td>
                            <td style="padding-right: 0 !important">PRICE<input class="form-control" id="barcode" placeholder="" ng-model="model.tempData.price" ng-keyup="ui.priceChange()" ng-disabled="ui.mode !== 'NEW'"></td>
                            <td style="padding-right: 0 !important">QTY<input class="form-control" id="barcode" placeholder="" ng-model="model.tempData.qty" ng-keyup="ui.calculatedValue()" ng-disabled="ui.mode !== 'NEW'"></td>
                            <td style="padding-right: 0 !important">VALUE<input class="form-control" id="barcode" placeholder="" ng-model="model.tempData.value" ng-disabled="true"></td>
                            <td style="padding-right: 0 !important">DISC<input class="form-control" id="barcode" placeholder="" ng-model="model.tempData.discount" ng-keyup="ui.calculateDiscountWithRate()" ng-disabled="ui.mode !== 'NEW'"></td>
                            <td style="padding-right: 0 !important">D.VALUE<input class="form-control" id="barcode" placeholder="" ng-model="model.tempData.discountValue" ng-keyup="ui.calculateDiscountWithValue()" ng-keypress="ui.callAddData()" ng-disabled="ui.mode !== 'NEW'"></td>
                            <td style="padding-right: 0 !important">NET<input class="form-control" id="barcode" placeholder="" ng-model="model.tempData.netValue" ng-disabled="true"></td>
                            <td style="padding-right: 0 !important">STOCK<input class="form-control" id="barcode" placeholder="" ng-model="model.tempData.stockQty" ng-disabled="true"></td>
                            <td style="padding-right: 0 !important">
                                <a class="btn btn-primary" style="margin-top: 28px" id="btnAddData" ng-click="ui.addData()">
                                    <span class="glyphicon glyphicon-plus">
                                    </span>
                                </a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <table class="table-rounded" ng-show="model.data.purchaseOrderItemList.length">
            <col style="width: 10%"/>
            <col style="width: 30%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>
            <col style="width: 10%"/>

            <thead class="background-dark">
                <tr>
                    <th>Barcode</th>
                    <th>Description</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Value</th>
                    <th class="text-right">Discount</th>
                    <th class="text-right">D.Value</th>
                    <th class="text-right">Net</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 450px);" ng-show="model.data.purchaseOrderItemList.length">
            <table class="table-rounded table-hover">
                <col style="width: 10%"/>
                <col style="width: 30%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <tbody>
                    <tr ng-repeat="order in model.data.purchaseOrderItemList">
                        <td><span class="label label-default">{{model.getItem(order.item).barcode}}</span></td>
                        <td class="over-flow-hidden">{{model.getItem(order.item).name}}</td>
                        <td class="text-right">{{order.price | number:2}}</td>
                        <td class="text-right">{{order.qty | number:2}}</td>
                        <td class="text-right">{{order.value | number:2}}</td>
                        <td class="text-right">{{order.discount | number:2}}%</td>
                        <td class="text-right">{{order.discountValue | number:2}}</td>
                        <td class="text-right">{{order.netValue | number:2}}</td>
                        <td class="text-right">
                            <a class="btn btn-primary" ng-click="ui.edit($index)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="ui.delete($index)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="placeholder col-md-12" ng-hide="model.data.purchaseOrderItemList.length" style="height: calc(100vh - 425px); padding: 0px 10px 10px 10px;">
            <h1>SELECT PENDING PURCHASE ORDER OR ADD ITEM TO DISPLAY :(</h1>
        </div>
        <div class="col-xs-9" style="position: fixed;bottom: 1px;margin-left:-15px">
            <table class="table-rounded">
                <col style="width: 23%;">
                <col style="width: 20%">
                <col style="width: 10%;">
                <col style="width: 12%;">
                <col style="width: 5%;">
                <col style="width: 12%;">
                <col style="width: 12%;">
                <col style="width: 10%">
                <tbody>
                    <tr>
                        <td></td>
                        <td class="text-right"><b>TOTAL :</b></td>
                        <td><input class="form-control text-right" smart-input="decimal" placeholder="qty" ng-model="model.summaryData.qty" ng-disabled="true"></td>
                        <td><input class="form-control text-right" smart-input="decimal" placeholder="value" ng-model="model.summaryData.value" ng-disabled="true"></td>
                        <td></td>
                        <td><input class="form-control text-right" smart-input="decimal" placeholder="disc value" ng-model="model.summaryData.discountValue" ng-disabled="true"></td>
                        <td><input class="form-control text-right" smart-input="decimal" placeholder="item value" ng-model="model.data.itemValue" ng-disabled="true"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-right"><b>NBT DETAIL :</b></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><input type="checkbox" ng-model="chxNBT" ng-change="ui.checkBoxNBTFunction();"/></td>
                        <td><input class="form-control text-right" placeholder="nbt %" ng-model="model.data.nbt" ng-change="ui.calculateNBT()" ng-disabled="true"></td>
                        <td><input class="form-control text-right" placeholder="nbt value" ng-model="model.data.nbtValue" ng-disabled="true"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-right"><b>VAT DETAIL :</b></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><input type="checkbox" ng-model="chxVAT" ng-change="ui.checkBoxVATFunction();"/></td>
                        <td><input class="form-control text-right" placeholder="vat %" ng-change="ui.calculateVAT(model.data.vat)" ng-model="model.data.vat" ng-disabled="true"></td>
                        <td><input class="form-control text-right" placeholder="vat value" ng-model="model.data.vatValue" ng-disabled="true"></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-right"><b>SUMMARY :</b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="form-control text-right" placeholder="po value" ng-model="model.data.grandTotal" ng-disabled="true"></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-danger" fab-show="true" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>

<script type="text/ng-template" id="purchase_order_popup.html"> 
    {{content}}
    <div class="col-lg-12">
    <object data="{{content}}" class="smart-scroll-y" type="application/pdf" style="width:100%;height: calc(100vh - 69px);">
    </object>
    </div>
</script>