<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-2 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">

            <div class="col-xs-12" style="flex: 0 0 auto; height: 95px; padding-right: 22px;">
                <input type="text" class="search-input" placeholder="search" ng-model="search.name">

                <table>
                    <thead>
                        <tr>
                            <th>Employee</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="flex: 1 1 auto;">
                <table class="table-hover table-primary">
                    <tbody>
                        <tr>
                            <td>
                                <img src="/img/plain.png" alt=""/>
                            </td>
                            <td>Kavish Manjitha</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/hamster.png" alt=""/>
                            </td>
                            <td>Nidura Prageeth</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/devil.png" alt=""/>
                            </td>
                            <td>Nidura Prageeth</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/glasses.png" alt=""/>
                            </td>
                            <td>Nidura Prageeth</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/plain.png" alt=""/>
                            </td>
                            <td>Nidura Prageeth</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/monkey.png" alt=""/>
                            </td>
                            <td>Nidura Prageeth</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/surprise.png" alt=""/>
                            </td>
                            <td>Kasun Chamara</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="/img/plain.png" alt=""/>
                            </td>
                            <td>Nidura Prageeth</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-10 background-light">
        <div class="background-light" style="padding: 5px 10px 0px 10px;border-radius: 5px;margin-top: 10px;margin-right: 5px">        
            <div class="row">

                <div class="col-sm-3 background-dark panel panel-primary" style="height: 250px ; margin: 3%;">
                    <div class="panel-heading" style="margin-left: -15px;margin-right: -15px;">Washing Bay</div>
                    <div class="panel-body"></div>
                </div>

                <div class="col-sm-3 background-dark panel panel-primary" style="height: 250px ; margin: 3%;">
                    <div class="panel-heading" style="margin-left: -15px;margin-right: -15px;">Cleaning Bay</div>
                    <div class="panel-body"></div>
                </div>

                <div class="col-sm-3 background-dark panel panel-primary" style="height: 250px ; margin: 3%;">
                    <div class="panel-heading" style="margin-left: -15px;margin-right: -15px;">Repairing Bay</div>
                    <div class="panel-body"></div>
                </div>
                <!--<div class="col-sm-3 background-dark" style="height: 250px;margin: 3%">-->
            </div>
            <div class="row">

                <div class="col-sm-3 background-dark panel panel-primary" style="height: 250px ; margin: 3%;">
                    <div class="panel-heading" style="margin-left: -15px;margin-right: -15px;">Repairing Bay</div>
                    <div class="panel-body"></div>
                </div>

                <div class="col-sm-3 background-dark panel panel-primary" style="height: 250px ; margin: 3%;">
                    <div class="panel-heading" style="margin-left: -15px;margin-right: -15px;">Repairing Bay</div>
                    <div class="panel-body"></div>
                </div>

                <div class="col-sm-3 background-dark panel panel-primary" style="height: 250px ; margin: 3%;">
                    <div class="panel-heading" style="margin-left: -15px;margin-right: -15px;">Repairing Bay</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        </div>
        <div class="fab-container">
            <a class="fab fab-danger" ng-show="true"><i class="glyphicon glyphicon-edit"></i></a>
            <a class="fab fab-lg fab-primary" ng-show="true"  ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
            <a class="fab fab-lg fab-primary" ng-show="true"  ng-click="ui.finish();"><i class="glyphicon glyphicon-ok"></i></a>
        </div>
    </div>

