<div class="index-content-body ">
    <div class="col-xs-3 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">

            <div class="col-xs-12" style="flex: 0 0 auto; height: 95px; padding-right: 22px;">
                <input type="text" class="search-input" placeholder="search" ng-model="search.name">

                <table>
                    <thead>
                        <tr>
                            <th>Employee</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-md-12 smart-scroll-y" style="flex: 1 1 auto;">
                <div class="drag-drop">
                    <div ng-if="listName == 'WAITING'" ng-repeat="(listName, list) in models.lists " class="col-md-12" style="height: 250px">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{listName}} BAY</h3>
                            </div>
                            <div class="panel-body" ng-include="'app/service/employee-assignment/simple.html'"></div>
                        </div>
                    </div>
                </div>

                <div view-source="simple" class="background-light"></div>

            </div>
        </div>
    </div>
    <div class="col-xs-9 background-light">
        <div class="background-light" style="padding: 5px 10px 0px 10px;border-radius: 5px;margin-top: 10px;margin-right: 5px">        
            <div class="row">

                <div class="col-md-12 smart-scroll-y" style="flex: 1 1 auto;">
                    <div class="drag-drop">
                        <div ng-if="listName != 'WAITING'" ng-repeat="(listName, list) in models.lists " class="col-md-4" style="height: 250px">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{listName}} BAY</h3>
                                </div>
                                <div class="panel-body" ng-include="'app/service/employee-assignment/simple.html'"></div>
                            </div>
                        </div>
                    </div>

                    <div view-source="simple" class="background-light"></div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-danger" ng-show="true"><i class="glyphicon glyphicon-edit"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="true"  ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="true"  ng-click="ui.finish();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
