<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-8 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12" style="flex: 0 0 auto; ">
                <table class="control-table">
                    <col class="col-xs-4"/>
                    <col class="col-xs-4"/>
                    <col class="col-xs-4"/>

                    <tbody>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <input ng-model="date" smart-input="date" class="form-control" >
                            </td>
                            <td>
                                <input ng-model="transaction" smart-input="integer" class="form-control" placeholder="transaction number">
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="col-xs-12 " style="flex: 0 0 auto;">
                <table>
                    <col style="width: 25%"/>
                    <col style="width: 25%"/>
                    <col style="width: 35%"/>
                    <col style="width: 25%"/>
                    <col style="width: 15%"/>
                    <col/>
                    <thead class="background-dark">
                        <tr>
                            <th class="text-right">
                                <label>CLIENT</label>
                                <input class="form-control" ng-model="rowData.client" type="text" uib-typeahead="client as client.name for client in getClients($viewValue)| limitTo:10" typeahead-on-select="getClientDetails($model);" ng-disabled="ui.mode !== 'NEW'">
                            </th>
                            <th class="text-right">
                                <label>ROUTE</label>
                                <input class="form-control" ng-model="rowData.route" type="text" uib-typeahead="route as route.name for route in getRoutes($viewValue)| limitTo:10" ng-disabled="ui.mode !== 'NEW'">
                            </th>
                            <th class="text-right">
                                <label>MONTH</label>
                                <input class="form-control text-right" type="month" ng-model="rowData.month"  ng-disabled="ui.mode !== 'NEW'">
                            </th>
                            <th class="text-right">
                                <label>AMOUNT</label>
                                <form ng-submit="insertTable(rowData)">
                                    <input class="form-control text-right" ng-model="rowData.amount"  smart-input="decimal" ng-disabled="ui.mode !== 'NEW'">
                                </form>
                            </th>
                            <th class="text-center">
                                <a class="btn btn-default" ng-click="insertTable(rowData)"><span class="glyphicon glyphicon-plus"></span></a>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 176px);">
                <table class="table-hover">
                    <col style="width: 25%"/>
                    <col style="width: 25%"/>
                    <col style="width: 35%"/>
                    <col style="width: 25%"/>
                    <col style="width: 15%"/>
                    <col/>
                    <tbody>
                        <tr ng-repeat="requestRowData in getRowData(null)">
                            <td><span class="label label-default">{{requestRowData.client.indexNo}}</span>{{requestRowData.client.name}}</td>
                            <td class="text-right">{{requestRowData.route.name}}</td>
                            <td class="text-right">{{requestRowData.month | date:'yy-MMMM'}}</td>
                            <td class="text-right">{{requestRowData.amount}}</td>
                            <td>
                                <a class="btn btn-default" ng-click="editSelectdRow(requestRowData, $index);"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger" ng-click="deleteSelectedRow($index);"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12">
                <table>
                    <col style="width: 70%"/>
                    <col style="width: 20%"/>
                    <col style="width: 10%"/>
                    <thead class="background-dark">
                        <tr class="clickable">
                            <th>ADVANCE REQUEST SUMMARY</th>
                            <th class="text-right">{{getTotalAmount()}}</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 51px);">
            <div class="col-xs-12">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 15%;"/>
                    <col />
                    <thead>
                        <tr>
                            <th>DESCRIPTION</th>
                            <th class="text-right">DEBIT</th>
                            <th class="text-right">CREDIT</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100% - 305px);">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 15%;"/>
                    <tbody>
                        <tr ng-repeat="clientRowData in getClientDetails(null)">
                            <td>{{clientRowData.discription}}</td>
                            <td class="text-right" >{{clientRowData.debit == 0? '-': clientRowData.debit}}</td>
                            <td class="text-right" >{{clientRowData.credit == 0? '-': '- ('+clientRowData.credit+')'}}</td>
                            <td><a class="btn btn-primary"><span class="glyphicon glyphicon-paste"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12">
                <table>
                    <col style="width: 40%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 15%;"/>
                    <col />

                    <tbody>
                        <tr class="text-bold">
                            <td>Total</td>
                            <td class="text-right">{{getTotalDebit()}}</td>
                            <td class="text-right">{{getTotalCredit()}}</td>
                            <td></td>
                        </tr>
                        <tr class="text-bold">
                            <td>Balance</td>
                            <!--<td class="text-right">{{getCreditBlance() < 0 ? getCreditBlance() : '- (' + (getCreditBlance() * -1) + ')'}}</td>-->
                            <td class="text-right">-</td>      
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12"  style="margin-top: 10px; height: 170px;">
                <canvas id="base" class="chart-bar"
                        data-chart-data="data" 
                        data-chart-labels="labels" 
                        data-chart-colors="colors"
                        data-chart-dataset-override="datasetOverride">
                </canvas>
            </div>
        </div>
    </div>
    <div class="fab-container">
        <a class="fab fab-danger" ng-show="ui.mode === 'SELECTED'"><i class="glyphicon glyphicon-edit"></i></a>
        <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'"  ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
        <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'"  ng-click="ui.finish();"><i class="glyphicon glyphicon-ok"></i></a>
    </div>
</div>