<div class="tile-list background-dark">
    <div class="tile-list-title" style="margin-right: 5px;">
        <h4>VEHICLE</h4>
    </div>
    <div class="smart-scroll-y" style="height: calc(100vh - 40px);">
        <div class="tile tile-128" style="animation: 0.5s zoomInLeft" ng-repeat="details in model.pendingJobCards" ng-class="{'selected':details.indexNo == selectedJobCardIndexNo}" ng-click="ui.selectedJobCardRow(details);">
            <span>
                <img src="/img/01.png"/>  
                <label>
                    {{model.vehicleData(details.vehicle).vehicleNo}}
                </label>
                <label ng-show="model.vehicleData(details.vehicle).type === 'NORMAL'" class="label label-primary">NORMAL</label>
                <label ng-show="model.vehicleData(details.vehicle).type === 'REGISTER'" class="label label-success">REGISTER</label>
            </span>
        </div>
    </div>
</div>
<div class="index-content-body">
    <div style="float: left; width: calc(100% - 133px);">
        <div class="col-xs-7 background-light" ng-show="ui.model === 'CATEGORY'">
            <div class="row full-height" style="display: flex; flex-flow: column;">
                <div class="smart-scroll-y" style="height: calc(100vh - 40px);">
                    <div class="tile-lists">
                        <div class="tiles tile-200 col-xs-4" style="background: {{detils.color}};" ng-repeat="detils in model.itemCategory" ng-click="ui.findSubCateoryByCateory(detils.indexNo);">
                            <div style="margin-top: 21px; color: #fff;font-weight: bold;">                   
                                <div class="col-xs-8" style="font-size: 19px;">
                                    {{detils.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-7 background-light" ng-show="ui.model === 'STOCK_ITEM'">
            <div class="row full-height" style="display: flex; flex-flow: column;">
                <div class="col-xs-12">
                    <input type="text" class="search-input" placeholder="search" ng-model="searchItem">
                </div>
                <table class="square-table background-dark">
                    <col style="width: 80%;"/>
                    <col style="width: 20%;"/>
                    <thead>
                        <tr>
                            <th>SUB CATEHORY</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <table class="square-table background-dark">
                    <col style="width: 70%;"/>
                    <col style="width: 30%;"/>
                    <thead>
                        <tr>
                            <th>
                                <select class="form-control" ng-model="select" ng-change="ui.getStockItemByItemCategory(select, $index);">
                                    <option ng-repeat="detils in model.subCategory" value="{{detils[0]}}">
                                        {{detils[1]}}
                                    </option>
                                </select>
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 90px);" ng-show="showStockItemTable">
                    <table class="square-table">
                        <col style="width: 70%;"/>
                        <col style="width: 10%;"/>
                        <col style="width: 20%;"/>
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="background-dark" ng-repeat="detils in model.itemsByStockLeger|filter:searchItem">
                                <td class="text-bold"> {{detils[2]}}</td>
                                <td> 
                                    <span ng-class="selectVehicleType === 'REGISTER' ? 'label-success' : 'label-primary'" class="label">{{detils[1]}}</span>
                                </td>
                                <td><a class="btn btn-primary" ng-click="ui.getItemUnits(detils);"/><span class="glyphicon glyphicon-plus"></span></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="smart-scroll-y" style="height: calc(100vh - 90px);" ng-show="hideStockItemTable">
                    <img src="/img/loader1.gif" width="550" height="400" alt="loader1"/>
                </div>
            </div>
        </div>

        <div class="col-xs-5 background-dark">
            <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);">
                <uib-tabset>
                    <!------ stock item total---->
                    <uib-tab heading="ITEM" index="1">
                        <div style="height: 50px;">
                            <table class="square-table table-rounded">
                                <col style="width: 10%;"/>
                                <col style="width: 40%;"/>
                                <col style="width: 10%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <col/>
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>SELECTIONS</th>
                                        <th class="text-right">QTY</th>
                                        <th class="text-right">AMOUNT</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="smart-scroll-y" style="height: calc(100vh - 140px);padding-left: 5px;">
                            <table class="square-table background-dark">
                                <col style="width: 10%;"/>
                                <col style="width: 40%;"/>
                                <col style="width: 10%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <tbody class="border-top border-bottom text-bold" ng-repeat="selections in model.jobItemList| filter:{itemType:'STOCK_ITEM'}">
                                    <tr style="border: none">
                                        <td>
                                            <label class="label label-default" style="display: inline-block; width: 20px;background-color: {{model.itemCategoryColours(model.itemData(selections.item).itemCategory).color}}" ng-show="selections.itemType === 'STOCK_ITEM'">I</label>
                                        </td>
                                        <td style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap" colspan="5" ng-show="selections.itemType == 'STOCK_ITEM'"><small>{{model.itemData(selections.item).name}}</small></td>
                                    </tr>
                                    <tr style="border: none">
                                        <td colspan="2"><small>{{model.itemUnitData(selections.itemUnit).name}}</td>
                                        <td class="text-right"><small>{{selections.quantity}}</small></td>
                                        <td class="text-right"><small>{{selections.value|number:2}}</small></td>
                                        <td ng-hide="selections.itemUnit && selections.orderStatus === 'COMPLITED'"><a class="btn btn-danger" ng-click="ui.deleteSelectDetails($index, selections.indexNo);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        <td style="height: 50px;" ng-show="selections.itemUnit && selections.orderStatus === 'COMPLITED'">
                                            <span ng-show="selections.itemUnit && selections.orderStatus === 'COMPLITED'" class="label label-success">STOCK ISSUE</span>
                                            <span ng-show="selections.orderStatus === 'COMPLITED' && selections.jobStatus === 'COMPLITED'" class="label label-primary">FINAL CHECK</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="background-dark">
                            <table class="square-table">
                                <col style="width: 50%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <tbody>
                                    <tr class="text-bold">
                                        <td>ITEM TOTAL</td>
                                        <td class="text-right">{{model.getSelectItemTotalForItemAndItemUnits() | number:2}}</td>
                                        <th>&nbsp;</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <!------ /stock item total---->

                    <!------ all total (package and service and stock items)---->
                    <uib-tab heading="ALL SELECTIONS" index="0">
                        <div style="height: 50px;">
                            <table class="square-table table-rounded">
                                <col style="width: 10%;"/>
                                <col style="width: 40%;"/>
                                <col style="width: 10%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <col/>
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>SELECTIONS</th>
                                        <th class="text-right">QTY</th>
                                        <th class="text-right">AMOUNT</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="smart-scroll-y" style="height: calc(100vh - 287px);padding-left: 5px;">
                            <table class="square-table background-dark">
                                <col style="width: 10%;"/>
                                <col style="width: 40%;"/>
                                <col style="width: 10%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <tbody class="border-top border-bottom text-bold" ng-repeat="selections in model.jobItemList| filter:{itemType:'!SERVICE_CHARGERS'}" style="animation: 0.5s fadeIn">
                                    <tr style="border: none">
                                        <td>
                                            <label class="label label-default"  style="display: inline-block; width: 20px;background-color: {{model.categoryColours(model.itemData(selections.item).category).colour}}" ng-show="selections.itemType === 'PACKAGE_ITEM'">P</label>
                                            <label class="label label-default" style="display: inline-block; width: 20px;background-color: {{model.categoryColours(model.itemData(selections.item).category).colour}}" ng-show="selections.itemType === 'SERVICE_ITEM'">S</label>
                                            <label class="label label-default" style="display: inline-block; width: 20px;background-color: {{model.categoryColours(model.itemData(selections.item).category).colour}}" ng-show="selections.itemType === 'STOCK_ITEM'">I</label>
                                        </td>
                                        <td style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap" colspan="5" ng-show="selections.itemType != 'STOCK_ITEM'"><small>{{model.itemData(selections.item).name}}</small></td>
                                        <td style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap" colspan="5" ng-show="selections.itemType == 'STOCK_ITEM'"><small>{{model.itemData(selections.item).name}}</small></td>        
                                    </tr>
                                    <tr style="border: none">
                                        <td colspan="2"><small>{{model.itemUnitData(selections.itemUnit).name}}</td>
                                        <td class="text-right"><small>{{selections.quantity}}</small></td>
                                        <td class="text-right"><small>{{selections.value|number:2}}</small></td>
                                        <td ng-hide="selections.itemUnit && selections.orderStatus === 'COMPLITED'"><a class="btn btn-danger" ng-click="ui.deleteSelectDetails($index, selections.indexNo);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        <td style="height: 50px;" ng-show="selections.itemUnit && selections.orderStatus === 'COMPLITED'">
                                            <span ng-show="selections.itemUnit && selections.orderStatus === 'COMPLITED'" class="label label-success">STOCK ISSUE</span>
                                            <span ng-show="selections.orderStatus === 'COMPLITED' && selections.jobStatus === 'COMPLITED'" class="label label-primary">FINAL CHECK</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="background-light-dark" style="margin-left: 5px;margin-right: 5px;">
                            <table class="square-table">
                                <col style="width: 50%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <tbody>
                                    <tr class="text-bold ">
                                        <td>SERVICE TOTAL</td>
                                        <td class="text-right">{{model.getSelectItemTotalForService() | number:2}}</td>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr class="text-bold">
                                        <td>ITEM TOTAL</td>
                                        <td class="text-right">{{model.getSelectItemTotalForItemAndItemUnits() | number:2}}</td>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr class="text-bold" ng-show="model.jobCardData.serviceChagers">
                                        <td>SERVICE CHARGES</td>
                                        <td class="text-right">500.00</td>
                                        <th>&nbsp;</th>
                                    </tr>
                                    <tr class="text-bold">
                                        <td>ALL TOTAL</td>
                                        <td class="text-right">{{model.getSelectItemAllItems() | number:2}}</td>
                                        <th>&nbsp;</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <!------ /all total (package and service and stock items)---->

                    <!------ service total---->
                    <uib-tab heading="SERVICE" index="2">
                        <div style="height: 50px;">
                            <table class="square-table table-rounded">
                                <col style="width: 10%;"/>
                                <col style="width: 40%;"/>
                                <col style="width: 10%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <col/>
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>SELECTIONS</th>
                                        <th class="text-right">QTY</th>
                                        <th class="text-right">AMOUNT</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="smart-scroll-y" style="height: calc(100vh - 140px);padding-left: 5px;">
                            <table class="square-table background-dark">
                                <col style="width: 10%;"/>
                                <col style="width: 40%;"/>
                                <col style="width: 10%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <tbody class="border-top border-bottom text-bold" ng-repeat="selections in model.jobItemList| filter:{itemType: '!SERVICE_CHARGERS'}| filter:{itemType: '!STOCK_ITEM'}">
                                    <tr style="border: none">
                                        <td>
                                            <label class="label label-default"  style="display: inline-block; width: 20px;background-color: {{model.categoryColours(model.itemData(selections.item).category).colour}}" ng-show="selections.itemType === 'PACKAGE_ITEM'">P</label>
                                            <label class="label label-default" style="display: inline-block; width: 20px;background-color: {{model.categoryColours(model.itemData(selections.item).category).colour}}" ng-show="selections.itemType === 'SERVICE_ITEM'">S</label>
                                        </td>
                                        <td style="max-width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap" colspan="5" ng-show="selections.itemType != 'STOCK_ITEM'"><small>{{model.itemData(selections.item).name}}</small></td>        
                                    </tr>
                                    <tr style="border: none">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td class="text-right"><small>{{selections.quantity}}</small></td>
                                        <td class="text-right"><small>{{selections.value|number:2}}</small></td>
                                        <td ng-hide="selections.itemUnit && selections.orderStatus === 'COMPLITED'"><a class="btn btn-danger" ng-click="ui.deleteSelectDetails($index, selections.indexNo);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        <td style="height: 50px;" ng-show="selections.itemUnit && selections.orderStatus === 'COMPLITED'">
                                            <span ng-show="selections.itemUnit && selections.orderStatus === 'COMPLITED'" class="label label-success">STOCK ISSUE</span>
                                            <span ng-show="selections.orderStatus === 'COMPLITED' && selections.jobStatus === 'COMPLITED'" class="label label-primary">FINAL CHECK</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="background-dark">
                            <table class="square-table">
                                <col style="width: 50%;"/>
                                <col style="width: 35%;"/>
                                <col style="width: 15%;"/>
                                <tbody>
                                    <tr class="text-bold">
                                        <td>SERVICE TOTAL</td>
                                        <td class="text-right">{{model.getSelectItemTotalForService() | number:2}}</td>
                                        <th>&nbsp;</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <!------ /service total---->
                    <!------ client reserved item---->
                    <uib-tab heading="CLIENT RECEVED" index="3" ng-click="ui.findClientRecevedItem();">
                        <div class="background-dark">
                            <table class="square-table">
                                <col style="width: 30%;"/>
                                <col style="width: 50%;"/>
                                <col style="width: 20%;"/>
                                <tbody>
                                    <tr class="text-bold">
                                        <td>Item Name</td>
                                        <td colspan="2">
                                            <input type="text" class="text-right form-control" style="width: 100%" ng-model="model.customerReservedItemData.name"/>
                                        </td>
                                    </tr>
                                    <tr class="text-bold">
                                        <td>Qty</td>
                                        <td>
                                            <div range-spinner
                                                 range-min="1" 
                                                 range-step="1"  
                                                 range-max="15" 
                                                 range-default-value="0"
                                                 range-decimal-precision="1"				
                                                 range-model="model.customerReservedItemData.qty"
                                                 accept-decimal="false"
                                                 name-of-field="rangeFieldName"
                                                 id-of-field="rangeFieldId">
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-success" ng-click="ui.addCustomerReservedItem();"><span class="glyphicon glyphicon-plus"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="square-table">
                                <col style="width: 10%;"/>
                                <col style="width: 80%;"/>
                                <col style="width: 10%;"/>
                                <tbody>
                                    <tr class="text-bold">
                                        <td></td>
                                        <td>
                                            <div class="btn-group">
                                                <label class="btn" ng-class="model.jobCardData.serviceChagers === false ? 'btn-primary' : 'btn-default'" ng-model="model.jobCardData.serviceChagers" uib-btn-radio="false" ng-click="ui.setServiceChargers(model.jobCardData.serviceChagers)">SERVICE CHARGE NO</label>
                                                <label class="btn" ng-class="model.jobCardData.serviceChagers !== true ? 'btn-default' : 'btn-primary'" ng-model="model.jobCardData.serviceChagers" uib-btn-radio="true" ng-click="ui.setServiceChargers(model.jobCardData.serviceChagers)">SERVICE CHARGE YES</label>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="height: 50px;">
                                <table class="square-table table-rounded">
                                    <col style="width: 70%;"/>
                                    <col style="width: 10%;"/>
                                    <col style="width: 20%;"/>
                                    <col/>
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th class="text-right">QTY</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="smart-scroll-y" style="height: calc(100vh - 239px);padding-left: 5px;">
                                <table class="square-table background-dark">
                                    <col style="width: 70%;"/>
                                    <col style="width: 10%;"/>
                                    <col style="width: 20%;"/>
                                    <tbody ng-repeat="selections in model.customerReceivedItems">
                                        <tr>
                                            <td class="text-bold">{{selections.name}}</td>
                                            <td class="text-right text-bold">{{selections.qty}}</td>
                                            <td><a class="btn btn-danger" ng-click="ui.deleteCustomerReservedItem($index, selections.indexNo);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <!------ /client reserved item---->
                    <!------ other ---->
                    <uib-tab heading="OTHER" index="4">
                        <div class="background-dark">
                            <div class="tile-lists">
                                <div class="tiles tile-200 col-xs-4" style="background: #303F9F;width: 300px;" ng-show="model.jobItemList.length" ng-click="ui.printJobItemRequestAstimate();">
                                    <div style="margin-top: 21px; color: #fff;font-weight: bold;">                   
                                        <div class="col-xs-10" style="font-size: 19px;margin-top: 15px;">
                                            <i class="glyphicon glyphicon-print"></i>  PRINT ESTIMATE
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                    <!------ /other---->
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
<div class="fab-container pull-left">
    <a class="fab fab-lg fab-success" ng-hide="ui.model === 'CATEGORY'" ng-click="ui.backToCategory();"><i class="glyphicon glyphicon-chevron-left"></i></a>
</div>
<script type="text/ng-template" id="item_selection_popup.html">
    <div class="col-lg-12 background-light">
    <div class="row">
    <div class="modal-header bg-primary">
    <div class="col-lg-12">
    <center>
    <label> {{itemName}}</label>
    </center>
    </div>
    </div>
    <div class="modal-body">
    <table class="square-table">
    <col style="width: 50%;"/>
    <col style="width: 20%;"/>
    <col style="width: 20%;"/>
    <col style="width: 10%;"/>
    <tbody>
    <tr class="background-light" ng-repeat="itemUnits in model.selectItemUnits">
    <td> 
    {{itemUnits.name}}  
    </td>
    <td>
    {{itemUnits.salePriceNormal|number:2}}
    </td>
    <td>
    <div range-spinner
    range-min="1" 
    range-step="1"  
    range-max="15" 
    range-default-value="0"
    range-decimal-precision="1"				
    range-model="qty"
    accept-decimal="false"
    name-of-field="rangeFieldName"
    id-of-field="rangeFieldId">
    </div>
    </td>
    <td><a class="btn btn-primary" ng-click="ui.addItemUnit(itemUnits.indexNo, qty);"><span class="glyphicon glyphicon-plus"></span></a></td>
    </tr>
    </tbody>
    </table>
    </div>
    <div class="modal-footer bg-primary">
    <div class="col-lg-12">
    <center>
    <label class=""> ITEM STOCK  QTY - {{itemStockItemQty}}</label>
    </center>
    </div>
    </div>
    </div>
    </div>
</script>