<div class="tile-list background-dark">
    <div class="tile-list-title">
        <h4>VEHICLE</h4>
    </div>
    <div class="tile-list-content smart-scroll-y" style="height: calc(100vh - 40px);">
        <div class="tile tile-128" ng-repeat="vehicle in vehicle">
            <span>
                <img src="{{vehicle.image}}"/>  

                <label>
                    {{vehicle.number}}
                </label>
            </span>
        </div>
    </div>
</div>
<div class="index-content-body">
    <div style="float: left; width: calc(100% - 133px);">
        <div class="col-xs-8 background-light">
            <div class="row full-height" style="display: flex; flex-flow: column;">
                <div>
                    <uib-tabset>
                        <uib-tab heading="PACKAGE" index="0">
                            <table class="square-table background-dark">
                                <col style="width: 60%;"/>
                                <col style="width: 30%;"/>
                                <col style="width: 10%;"/>
                                <thead>
                                    <tr>
                                        <th>PACKAGE NAME</th>
                                        <th>PRICE</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                                <div ng-repeat="package in package">
                                    <table class="square-table">
                                        <col style="width: 60%;"/>
                                        <col style="width: 30%;"/>
                                        <col style="width: 10%;"/>
                                        <tbody>
                                            <tr class="background-light">
                                                <td ng-click="packageSelectionDetail($index)">{{package.name}}</td>
                                                <td ng-click="packageSelectionDetail($index)">{{package.price}}</td>
                                                <td><a class="btn btn-danger"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="animation-v-grow background-light-dark" ng-show="packagePositionVehicle == $index">
                                        <table class="square-table">
                                            <col style="width: 30%;"/>
                                            <col style="width: 70%;"/>
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="background-light-dark" ng-repeat="items in package.discription.items">
                                                    <td>{{items.indexNo}}</td>
                                                    <td>{{items.name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </uib-tab>
                        <uib-tab heading="SERVICE" index="1">
                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <input type="text" class="search-input" placeholder="search" ng-model="search">
                                </div>
                                <table>
                                    <col style="width: 60%;"/>
                                    <col style="width: 25%;"/>
                                    <col style="width: 15%;"/>
                                    <col />
                                    <thead>
                                        <tr>
                                            <th>NAME</th>
                                            <th class="text-right">AMOUNT</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 213px);">
                                <table class="table-hover table-primary">
                                    <col style="width: 60%;"/>
                                    <col style="width: 25%;"/>
                                    <col style="width: 15%;"/>
                                    <tbody ng-repeat="service in service|filter:search">
                                        <tr>
                                            <td ng-click="serviceSelectionDetail($index)">{{service.name}}</td>
                                            <td class="text-right" ng-click="serviceSelectionDetail($index)">{{service.price}}</td>
                                            <td><a class="btn btn-danger"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                                        </tr>
                                        <tr class="select-primary-row animation-fade" ng-show="servicePositionVehicle == $index">
                                            <td colspan="3">{{service.discription}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                        <uib-tab heading="ITEM" index="2">
                            <div class="col-xs-12">
                                <div class="col-xs-8">
                                    <input type="text" class="search-input" placeholder="search" ng-model="search">
                                </div>
                                <table>
                                    <col style="width: 40%;"/>
                                    <col style="width: 15%;"/>
                                    <col style="width: 15%;"/>
                                    <col style="width: 15%;"/>
                                    <col style="width: 15%;"/>
                                    <col />
                                    <thead>
                                        <tr>
                                            <th>NAME</th>
                                            <th class="text-right">U.PRICE</th>
                                            <th class="text-right">QTY</th>
                                            <th class="text-right">AMOUNT</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 213px);">
                                <table class="table-hover table-primary">
                                    <col style="width: 40%;"/>
                                    <col style="width: 15%;"/>
                                    <col style="width: 15%;"/>
                                    <col style="width: 15%;"/>
                                    <col style="width: 15%;"/>
                                    <tbody ng-repeat="items in items|filter:search">
                                        <tr>
                                            <td ng-click="itemSelectionDetail($index)">{{items.name}}</td>
                                            <td class="text-right" ng-click="itemSelectionDetail($index)">{{items.price}}</td>
                                            <td class="text-right"><input type="text" style="width: 60px"></td>
                                            <td class="text-right" ng-click="itemSelectionDetail($index)">{{items.price}}</td>
                                            <td><a class="btn btn-danger"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                                        </tr>
                                        <tr class="select-primary-row animation-fade" ng-show="itemActivePosition == $index"><td colspan="5">{{items.discription}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>

        <div class="col-xs-4 background-dark">
            <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);">
                <div class="col-xs-12" style="height: 60px;">
                    <table>
                        <col style="width: 50%;"/>
                        <col style="width: 15%;"/>
                        <col style="width: 35%;"/>
                        <col style="width: 15%;"/>
                        <col />
                        <thead>
                            <tr>
                                <th>SELECTIONS</th>
                                <th class="text-right">QTY</th>
                                <th class="text-right">AMOUNT</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 150px);">
                    <table class="table-rounded">
                        <col style="width: 50%;"/>
                        <col style="width: 15%;"/>
                        <col style="width: 35%;"/>
                        <col style="width: 15%;"/>
                        <tbody ng-repeat="selections in selections">
                            <tr>
                                <td ng-click="selectionsSelectionDetail($index)">{{selections.name}}</td>
                                <td class="text-right" ng-click="selectionsSelectionDetail($index)">{{selections.qty}}</td>
                                <td class="text-right" ng-click="selectionsSelectionDetail($index)">{{selections.amount}}</td>
                                <td><a class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                            <tr class="select-primary-row animation-fade" ng-show="selectionsActivePosition == $index" ng-if="selections.discription.items">
                                <td colspan="4">
                                    <div>
                                        <table class="table-rounded">
                                            <col style="width: 10%;"/>
                                            <col style="width: 90%;"/>
                                            <tbody>
                                                <tr class="select-primary-row animation-fade"  ng-repeat="items in selections.discription.items">
                                                    <td>{{items.indexNo}}</td>
                                                    <td>{{items.name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12">
                    <table class="table-rounded">
                        <col style="width: 50%;"/>
                        <col style="width: 35%;"/>
                        <col style="width: 15%;"/>
                        <tbody>
                            <tr class="text-bold">
                                <td>TOTAL</td>
                                <td class="text-right">41000.00</td>
                                <th>&nbsp;</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12" style="margin-bottom: 10px;margin-top: 10px;height: 35px;">
                    <table class="table-rounded">
                        <thead>
                            <tr>
                                <th>SERVICE HISTORY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-xs-12" style="height: 60px;">
                    <table>
                        <col style="width: 30%;"/>
                        <col style="width: 40%;"/>
                        <col style="width: 30%;"/>
                        <thead>
                            <tr>
                                <th>I/NUMBER</th>
                                <th class="text-right">DATE</th>
                                <th class="text-right">AMOUNT</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 200px);">
                    <table class="table-rounded table-hover table-primary">
                        <col style="width: 30%;"/>
                        <col style="width: 40%;"/>
                        <col style="width: 30%;"/>
                        <tbody ng-repeat="history in history">
                            <tr>
                                <td ng-click="historySelectionDetail($index)">{{history.invoiceNumber}}</td>
                                <td class="text-right" ng-click="historySelectionDetail($index)">{{history.date}}</td>
                                <td class="text-right" ng-click="historySelectionDetail($index)">{{history.amount}}</td>
                                <td class="text-right" ng-click="historySelectionDetail($index)">{{history.diuration}}</td>
                            </tr>
                            <tr class="select-primary-row animation-fade" ng-show="historyActivePosition == $index">
                                <td colspan="3">
                                    <div>
                                        <table class="table-rounded">
                                            <tbody>
                                                <tr class="select-primary-row animation-fade"  ng-repeat="items in history.discription.items">
                                                    <td>{{items.name}}</td>
                                                    <td>{{items.unitprice}}</td>
                                                    <td>{{items.qty}}</td>
                                                    <td>{{items.amount}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary"><i class="glyphicon glyphicon-plus"></i></a>
</div>