<!DOCTYPE html>
<div class="index-content-body">
    <div class="row col-xs-12 background-dark" style="height: 100vh; padding-top: 0px;">
        <div class="col-xs-offset-2 col-xs-8 background-light" style="height:calc(100vh - 100px);margin-top: 52px;" ng-show="ui.changeUi === 'ui1'" >
            <div class="col-xs-offset-2 col-xs-8 background-light" style="margin-top: 20%;" >
                <center><img class="img-responsive" src="../../../img/care-point-logo.png" alt=""/></center><br>
                <input type="text" ng-model="vehicleNo" class="form-control input-lg" placeholder="VEHICLE NO" style="font-size: 25px;text-align: center" ng-keypress="ui.keyEvent($event);"><br>
                <center>
                    <input type="submit" class="btn btn-lg btn-default" ng-click="ui.secondStep()" style="width: 150px" value="Search"/>
                </center>
            </div>
        </div> 
        <div class="col-xs-12 background-light" ng-show="ui.changeUi === 'ui2'">
            <div class="form-group col-xs-12">
                <div class="col-xs-12">
                    <table> 
                        <col style="width: 60%">
                        <col style="width: 40%">
                        <tbody>
                            <tr>
                                <td>
                                    <h1 class="text-center">Vehicle No : {{vehicleNo}}</h1>
                                </td>
                                <td rowspan="2" >
                        <center>
                            <img class="img-responsive" src="{{model.clientType(model.clientData.customerType).icon}}" alt=""/>    
                        </center>
                        </td>
                        </tr>
                        <tr>
                            <td valign="middle"> 
                                <h1 class="text-center">{{model.clientType(model.clientData.customerType).name}}</h1> 
                            </td> 
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-inline">
                            <h3>Mobile No</h3>
                            <div class="form-group"> 
                                <input ng-model="model.clientData.mobile" ng-disabled="ui.clientDisabled" class="form-control input-lg" placeholder="MOBILE NO." name="somename" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "9"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <h3>Resident</h3>
                        <select style="padding-left: 1px;" class="form-control input-lg" ng-disabled="ui.clientDisabled" ng-model="model.clientData.resident">
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <h3>Client Name</h3>
                        <input type="text" ng-model="model.clientData.name" ng-disabled="ui.clientDisabled" class="form-control input-lg" placeholder="NAME">
                    </div>
                    <div class="col-xs-4 text-bold" style="padding-top: 50px">
                        <button class="btn btn-primary" style="width: 50px; height: 50px;"  ng-click="ui.edit()">EDIT</button>
                        <button class="btn btn-primary" style="width: 50px; height: 50px"  ng-click="ui.new()">NEW</button>
                        <button class="btn btn-success" style="width: 80px; height: 50px" ng-click="ui.clientAssingNext()">NEXT</button>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="row">
                    <div> 
                        <table class="square-table table-hover background-light-dark">
                            <col style="width: 25%">
                            <col style="width: 35%">
                            <col style="width: 35%">
                            <col style="width: 5%">
                            <thead class="background-dark">
                                <tr>
                                    <th style="font-size: 20px"><label>Mobile</label></th>
                                    <th style="font-size: 20px"><label>Name</label></th>
                                    <th style="font-size: 20px"><label>City</label> </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="smart-scroll-y" style="height: calc(100vh - 295px);">
                        <table class="square-table table-hover background-light-dark">
                            <col style="width: 25%">
                            <col style="width: 35%">
                            <col style="width: 35%">
                            <col style="width: 5%">
                            <tbody>
                                <tr ng-repeat="client in model.clientList| filter:model.clientData.mobile || model.clientData.name | orderBy:'indexNo'">
                                    <td style="font-size: 20px">{{client.mobile}}</td>
                                    <td style="font-size: 20px">{{client.name}}</td>
                                    <td style="font-size: 20px">{{client.address1}}</td>
                                    <td class="text-right" style="padding-left: 5px;">
                                        <button class="btn btn-default" ng-click="ui.setParam(client)"><span class="glyphicon glyphicon-check"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-2 col-xs-8 background-light" style="height:calc(100vh)" ng-show="ui.changeUi === 'ui3'">
            <uib-tabset>
                <uib-tab heading="DETAILS" index="0">
                    <div class="form-group col-xs-12" style="margin-top: 40px">
                        <div class="row">
                            <div class="col-xs-6">
                                <label style="font-size: 20px">Vehicle No :</label>
                                <input type="text" class="form-control input-lg"  ng-model="model.vehicleData.vehicleNo" ng-disabled="ui.vehicleDisabled"  ><br>

                                <label style="font-size: 20px">Chassis No :</label>
                                <input type="text" class="form-control input-lg"  ng-model="model.vehicleData.chasisNo" ng-disabled="ui.vehicleDisabled" ><br>

                                <label style="font-size: 20px">Current Milage :</label>
                                <input type="number" class="form-control input-lg" ng-model="model.vehicleData.lastMilage" ><br>
                                <table class="square-table">
                                    <col style="width: 50%;"/>
                                    <col style="width: 50%;"/>
                                    <tbody>
                                        <tr class="text-bold">
                                            <td colspan="2">CARPET DETAILS</td>
                                        </tr>
                                        <tr class="text-bold">
                                            <td>ORIGINAL</td>
                                            <td>
                                                <div range-spinner
                                                     range-min="0" 
                                                     range-step="1"  
                                                     range-max="30" 
                                                     range-default-value="0"
                                                     range-decimal-precision="1"				
                                                     range-model="model.jobcard.carepetOriginal"
                                                     accept-decimal="false"
                                                     name-of-field="rangeFieldName"
                                                     id-of-field="rangeFieldId">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="text-bold">
                                            <td>OTHER</td>
                                            <td>
                                                <div range-spinner
                                                     range-min="0" 
                                                     range-step="1"  
                                                     range-max="30" 
                                                     range-default-value="0"
                                                     range-decimal-precision="1"				
                                                     range-model="model.jobcard.carepetOther"
                                                     accept-decimal="false"
                                                     name-of-field="rangeFieldName"
                                                     id-of-field="rangeFieldId">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="text-bold">
                                            <td>3M CARPET</td>
                                            <td>
                                                <div range-spinner
                                                     range-min="0" 
                                                     range-step="1"  
                                                     range-max="30" 
                                                     range-default-value="0"
                                                     range-decimal-precision="1"				
                                                     range-model="model.jobcard.carepet3M"
                                                     accept-decimal="false"
                                                     name-of-field="rangeFieldName"
                                                     id-of-field="rangeFieldId">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-xs-6">
                                <div>
                                    <label style="font-size: 20px">Vehicle Type :</label>
                                    <select class="form-control input-lg" ng-options="vehicleType.indexNo as vehicleType.model for vehicleType in model.vehicleTypeList" ng-model="model.vehicleData.vehicleType" ng-disabled="ui.vehicleDisabled">
                                    </select>
                                </div>
                                <div style="margin-top: 20px ">
                                    <label style="font-size: 20px">Price Category :</label>
                                    <select class="form-control input-lg" ng-options="priceCategory.indexNo as priceCategory.name for priceCategory in model.priceCategoryList" ng-model="model.vehicleData.priceCategory" ng-disabled="ui.vehicleDisabled">
                                    </select>
                                </div>
                                <div style="padding-top: 50px;">
                                    <button  class="btn btn-success btn-lg" ng-click="ui.backToSelectCustomer();" >BACK</button>
                                    <button class="btn btn-primary btn-lg" style="width: 250px; height: 50px" ng-click="ui.jobCardNsext()">GET VEHICLE IMAGE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="NEW OBSERVATION" index="1">
                    <div class="form-group col-xs-12">
                        <div class="row">
                            <table class="square-table background-dark">
                                <col style="width: 80%;"/>
                                <col style="width: 20%;"/>
                                <thead>
                                    <tr>
                                        <th>OBSERVATION</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                                <table class="square-table">
                                    <col style="width: 30%;"/>
                                    <col style="width: 30%;"/>
                                    <col style="width: 30%;"/>
                                    <col style="width: 10%;"/>
                                    <tbody ng-repeat="details in model.lastJobCardVehicleAttenctionList">
                                        <tr class="background-dark">
                                            <td>{{model.vehicleAttenctionCategory(details.vehicleAttenctionsCategory).name}}</td>
                                            <td>{{model.vehicleAttenctions(details.vehicleAttenctions).name}}</td>
                                            <td> 
                                                <select class="form-control form-group-lg"  ng-model="details.status" style="margin-top: 8px;" ng-readonly="true">
                                                    <option class="N/A">N/A</option>
                                                    <option class="REPALCE">REPALCE</option>
                                                    <option class="MODIFICATION">MODIFICATION</option>
                                                </select>
                                            </td>
                                            <td>
                                                <a ng-show="details.remark" class="btn btn-success" ng-click="ui.viewRemarkLastJobCard($index, details);"><span class="glyphicon glyphicon-arrow-down"></span></a>
                                            </td>
                                        </tr>
                                        <tr class="background-dark animation-fade" ng-show="viewRemarkFeild === $index">
                                            <td colspan="4">
                                                {{remark}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="screen col-xs-12 background-dark" style="position: absolute; height: 100vh;" ng-show="ui.changeUi === 'ui4'">
            <div class="row smart-scroll-y" style="height: 100vh;">
                <div class="image-tile" style="background-color:#DE4E71;" ng-show="ui.imageShowMode1 === 'NotAvalable'">
                    <label class="image-tile-browse" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <input ng-model="imgSrc" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
                    </label>
                </div>
                <div class="image-tile" style="background-color:#E9967A; height: 46vh; text-align: center;" ng-show="ui.imageShowMode1 === 'Avalable'" >
                    <img src="{{imagemodelX[0]}}" id="tableBanner" style="width: 100%; height: 100%"> 
                </div>


                <div class="image-tile" style="background-color: #FFD236;" ng-show="ui.imageShowMode2 === 'NotAvalable'">
                    <label class="image-tile-browse" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <input ng-model="imgSrc" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">

                    </label>
                </div>
                <div class="image-tile" style="background-color: #FFF8DC; height: 46vh; text-align: center;" ng-show="ui.imageShowMode2 === 'Avalable'" >
                    <img src="{{imagemodelX[1]}}" id="tableBanner" style="width: 100%; height: 100%"> 
                </div>


                <div class="image-tile" style="background-color: #A5C43A;" ng-show="ui.imageShowMode3 === 'NotAvalable'">
                    <label class="image-tile-browse" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <input ng-model="imgSrc" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
                    </label>
                </div>
                <div class="image-tile" style="background-color: #00d9ff; height: 46vh; text-align: center;" ng-show="ui.imageShowMode3 === 'Avalable'" >
                    <img src="{{imagemodelX[2]}}" id="tableBanner" style="width: 100%; height: 100%"> 
                </div>


                <div class="image-tile" style="background-color: #F28A2E;" ng-show="ui.imageShowMode4 === 'NotAvalable'">
                    <label class="image-tile-browse" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <input ng-model="imgSrc" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
                    </label>
                </div>
                <div class="image-tile" style="background-color: #00d9ff; height: 46vh; text-align: center;" ng-show="ui.imageShowMode4 === 'Avalable'" >
                    <img src="{{imagemodelX[3]}}" id="tableBanner" style="width: 100%; height: 100%"> 
                </div>

                <div class="image-tile" style="background-color: #009688;" ng-show="ui.imageShowMode5 === 'NotAvalable'">
                    <label class="image-tile-browse" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <input ng-model="imgSrc" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
                    </label>
                </div>
                <div class="image-tile" style="background-color: #009688; height: 46vh; text-align: center;" ng-show="ui.imageShowMode5 === 'Avalable'" >
                    <img src="{{imagemodelX[4]}}" id="tableBanner" style="width: 100%; height: 100%"> 
                </div>

                <div class="image-tile" style="background-color: #FFD236;" ng-show="ui.imageShowMode6 === 'NotAvalable'">
                    <label class="image-tile-browse" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <input ng-model="imgSrc" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
                    </label>
                </div>
                <div class="image-tile" style="background-color: #FFF8DC; height: 46vh; text-align: center;" ng-show="ui.imageShowMode6 === 'Avalable'" >
                    <img src="{{imagemodelX[5]}}" id="tableBanner" style="width: 100%; height: 100%"> 
                </div>
                <div class="col-xs-6 nopadding" style=" width: 350px;">
                    <button  class="btn btn-success btn-lg" ng-click="ui.backToSelectVehicleDetail();" >BACK</button>
                    <button  class="btn btn-success btn-lg" ng-click="ui.uploadForm();" >Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
