<div class="index-content-body">
    <div class="col-xs-4">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh);">
            <div class="col-xs-12" style="flex: 0 0 auto; height: 70px;margin-top: 50px;margin-bottom: 50px;">
                <table>
                    <thead>
                        <tr>
                            <th class="text-left ">VEHICLE ENTRANCE</th>
                        </tr>
                    </thead>
                </table>
                <div class="col-xs-12">
                    <input id="search" type="text" placeholder="vehicle no" class="search-input" ng-model="model.vehicle.number" uib-typeahead="vehicle as (vehicle.vehicleNo) for vehicle in model.vehicles|filter:$viewValue|limitTo:10" typeahead-on-select="ui.getVehicleSelections($model);" ng-disabled="ui.mode !== 'EDIT'">
                </div>
            </div>
            <div class="col-xs-12" style="flex: 1 1 auto;">
                <table class="table-rounded animation-fade">
                    <col style="width: 40%"/>
                    <col style="width: 50%"/> 
                    <col style="width: 12%"/>
                    <tbody class="background-dark">
                        <tr class="background-light">
                            <td>CUSTOMER DETAILS</td>
                            <td><a class="btn btn-success" ng-click="ui.searchCustomer();"><span class="glyphicon glyphicon-plus"></span></a></td>
                        </tr>
                        <tr>
                            <td>CONTACT</td>
                            <td colspan="2"><input type="text" class="form-control text-right" ng-model="model.vehicle.client.mobile" style="margin-top: 5px;" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td>NIC NUMBER</td>
                            <td colspan="2"><input type="text" class="form-control text-right" ng-model="model.vehicle.client.nic" style="margin-top: 5px;" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td>NAME</td>
                            <td colspan="2"><input type="text" class="form-control text-right" ng-model="model.vehicle.client.name" style="margin-top: 5px;" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr>
                            <td>PRICE CATEGORY</td>
                            <td colspan="2"><input type="text" class="form-control text-right" ng-model="model.vehicle.priceCategory.name" style="margin-top: 5px;" ng-disabled="ui.mode !== 'EDIT'"></td>
                        </tr>
                        <tr class="background-light">
                            <td colspan="2">RUNNING KM DETAILS</td>
                        </tr>
                        <tr>
                            <td>NEW RUNNING KM</td>
                            <td>
                                <input type="text" class="form-control text-right" ng-model="model.data.inMileage" style="margin-top: 5px;" ng-disabled="ui.mode !== 'EDIT'"><a></a>
                            </td>
                            <td>
                                <a class="btn btn-primary" ng-click="getNewKmRunningCount(newKmRunningCount);"><span class="glyphicon glyphicon-plus"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 3px);">
            <div class="col-xs-12" style="margin-top: 10px;height: 40px;">
                <table>
                    <thead>
                        <tr>
                            <th>SERVICE HISTORY</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12" style="height: calc(100vh - 420px);">
                <table class="table-rounded">
                    <col style="width: 40%"/>
                    <col style="width: 30%"/>
                    <col style="width: 30%"/>
                    <tbody>
                        <tr>
                            <td>LAST SERVICE DETAILS</td>
                            <td class="text-left">Date - 2016-06-16</td>
                            <td class="text-left">Duration - 04 Months ago</td>
                        </tr>
                        <tr>
                            <td>RUNNING KM DETAILS</td>
                            <td class="text-left">LAST CHECK - {{vehicleDetail.runningKm}} KM</td>
                            <td class="text-left">NOW CHECK - {{newKmRunningCount}} KM</td>
                        </tr>
                        <tr>
                            <td>LAST USE OIL</td>
                            <td class="text-left">Hex Oil</td>
                            <td class="text-left">6000 KM</td>
                        </tr>
                        <tr ng-class="{'select-danger-row':difarance >= oilUsage}">
                            <td>OIL USAGE STATUS</td>
                            <td class="text-left">{{difarance}} KM</td>
                            <td class="text-left">{{oilStatus}} KM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12" style="height: 40px;">
                <table  class="table-rounded">
                    <col style="width: 50%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <thead>
                        <tr>
                            <th>INV.NO</th>
                            <th class="text-right">DATE</th>
                            <th class="text-right">DEURATION</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 300px);"  ng-show="model.jobCardHistory.length">
                <table class="table-rounded table-primary">
                    <col style="width: 50%;"/>
                    <col style="width: 25%;"/>
                    <col style="width: 25%;"/>
                    <tbody ng-repeat="jobCardHistory in model.jobCardHistory">
                        <tr>
                            <td ng-click="historySelectionDetail($index, jobCardHistory)">{{jobCardHistory.indexNo}}</td>
                            <td class="text-right" ng-click="historySelectionDetail($index, jobCardHistory)">{{jobCardHistory.date}}</td>
                            <td class="text-right" ng-click="historySelectionDetail($index, jobCardHistory)">{{model.getDefarancedate(jobCardHistory.date)}} Months ago</td>
                        </tr>
                        <tr class="white-row" ng-show="historyActivePosition == $index">
                            <td colspan="4">
                                <div>
                                    <table class="table-rounded">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th class="text-right">Unit Price</th>
                                                <th class="text-right">QTY</th>
                                                <th class="text-right">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="white-row"  ng-repeat="items in model.jobCardItemDetailHistory">
                                                <td><label class="label label-default">{{items.indexNo}}</label> &nbsp; {{model.item(items.indexNo).name}}</td>
                                                <td class="text-right">{{items.price}}</td>
                                                <td class="text-right">{{items.quantity}}</td>
                                                <td class="text-right">{{items.quantity * items.price}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-xs-12 animation-fade" style="height: calc(100vh - 315px);" ng-hide="model.jobCardHistory.length">
                <h1>NO JOB HISTORY :(</h1>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-default" fab-show="ui.mode ==='IDEAL' || ui.mode ==='EDIT'" ng-click="ui.discard();"><i class="glyphicon glyphicon-remove"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-floppy-save"></i></a>
    <a class="fab fab-lg fab-primary" fab-show="ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
</div>
