<div class="index-content-header">

</div>

<div class="index-content-body">

    <div class="tile-list background-dark">
        <div class="tile-list-title" style="margin-right: 5px;">
            <h4>VEHICLE</h4>
        </div>
        <div style="margin-right: 5px;">
            <input type="text" class="form-control" placeholder="search . . " ng-model="search"/>
        </div>
        <div class="smart-scroll-y" style="height: calc(100vh - 126px);">
            <div class="tile tile-155" style="animation: 0.5s zoomInLeft" ng-repeat="details in model.pendingJobCards|filter:{vehicleNo:search}" ng-class="{'selected':details.indexNo == selectedJobCardIndexNo}" ng-click="ui.selectedJobCardRow(details);">
                <span> 
                    <img src="/img/01.png"/>  
                    <label>{{model.vehicleData(details.vehicle).vehicleNo}}</label>
                    <label ng-show="model.vehicleData(details.vehicle).type === 'NORMAL'" class="label label-primary">NORMAL</label>
                    <label ng-show="model.vehicleData(details.vehicle).type === 'REGISTER'" class="label label-success">REGISTER</label>
                    <label class="label" style="background: {{model.priceCategoryData(details.priceCategory).colour}};">{{model.priceCategoryData(details.priceCategory).name}}</label>
                    <label class="label label-default">{{details.date}}</label>
                    <label class="label label-default">{{details.indexNo}}</label>
                </span>
            </div>
        </div>
    </div>

    <div style="float: left; width: calc(100% - 133px);">
        <div class="image-tile" ng-show="ui.imageShowMode1 === 'NotAvalable'">
            <label class="image-tile-browse" for="file">
                <span class="glyphicon glyphicon-camera"></span>
                <input class="t1" ng-model="imgSrc1" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
            </label>
        </div>
        <div class="image-tile container nopadding" ng-show="ui.imageShowMode1 === 'Avalable'" >
            <img src="{{imagemodelX[0]}}" class="image-view" alt="vehicle image"> 
            <div class="overlay">
                <div class="overlay-content">
                    <a ng-click="ui.removeImage('0','imageShowMode1');" class="btn btn-lg btn-danger">&nbsp;REMOVE</a>
                </div>
            </div>
        </div>
        <div class="image-tile" ng-show="ui.imageShowMode2 === 'NotAvalable'">
            <label class="image-tile-browse" for="file">
                <span class="glyphicon glyphicon-camera"></span>
                <input class="t1" ng-model="imgSrc1" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
            </label>
        </div>
        <div class="image-tile container nopadding" ng-show="ui.imageShowMode2 === 'Avalable'" >
            <img src="{{imagemodelX[1]}}" class="image-view" alt="vehicle image"> 
            <div class="overlay">
                <div class="overlay-content">
                    <a ng-click="ui.removeImage('1','imageShowMode2');" class="btn btn-lg btn-danger">&nbsp;REMOVE</a>
                </div>
            </div>
        </div>
        <div class="image-tile" ng-show="ui.imageShowMode3 === 'NotAvalable'">
            <label class="image-tile-browse" for="file">
                <span class="glyphicon glyphicon-camera"></span>
                <input class="t1" ng-model="imgSrc1" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
            </label>
        </div>
        <div class="image-tile container nopadding" ng-show="ui.imageShowMode3 === 'Avalable'" >
            <img src="{{imagemodelX[2]}}" class="image-view" alt="vehicle image"> 
            <div class="overlay">
                <div class="overlay-content">
                    <a ng-click="ui.removeImage('2','imageShowMode3');" class="btn btn-lg btn-danger">&nbsp;REMOVE</a>
                </div>
            </div>
        </div>
        <div class="image-tile" ng-show="ui.imageShowMode4 === 'NotAvalable'">
            <label class="image-tile-browse" for="file">
                <span class="glyphicon glyphicon-camera"></span>
                <input class="t1" ng-model="imgSrc1" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
            </label>
        </div>
        <div class="image-tile container nopadding" ng-show="ui.imageShowMode4 === 'Avalable'" >
            <img src="{{imagemodelX[3]}}" class="image-view" alt="vehicle image"> 
            <div class="overlay">
                <div class="overlay-content">
                    <a ng-click="ui.removeImage('3','imageShowMode3');" class="btn btn-lg btn-danger">&nbsp;REMOVE</a>
                </div>
            </div>
        </div>
        <div class="image-tile" ng-show="ui.imageShowMode5 === 'NotAvalable'">
            <label class="image-tile-browse" for="file">
                <span class="glyphicon glyphicon-camera"></span>
                <input class="t1" ng-model="imgSrc1" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
            </label>
        </div>
        <div class="image-tile container nopadding" ng-show="ui.imageShowMode5 === 'Avalable'" >
            <img src="{{imagemodelX[4]}}" class="image-view" alt="vehicle image"> 
            <div class="overlay">
                <div class="overlay-content">
                    <a ng-click="ui.removeImage('4','imageShowMode3');" class="btn btn-lg btn-danger">&nbsp;REMOVE</a>
                </div>
            </div>
        </div>
        <div class="image-tile" ng-show="ui.imageShowMode6 === 'NotAvalable'">
            <label class="image-tile-browse" for="file">
                <span class="glyphicon glyphicon-camera"></span>
                <input class="t1" ng-model="imgSrc1" style="display: none" type="file" id="file" onchange="angular.element(this).scope().ui.changeFunction(event)" accept="image/gif, image/jpeg, image/png">
            </label>
        </div>
        <div class="image-tile container nopadding" ng-show="ui.imageShowMode6 === 'Avalable'" >
            <img src="{{imagemodelX[5]}}" class="image-view" alt="vehicle image"> 
            <div class="overlay">
                <div class="overlay-content">
                    <a ng-click="ui.removeImage('5','imageShowMode3');" class="btn btn-lg btn-danger">&nbsp;REMOVE</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab-container pull-left">
    <a class="fab fab-lg fab-success" ng-click="ui.uploardImages();"><i class="glyphicon glyphicon-upload"></i></a>
</div>