<div class="index-content-header"></div>

<div class="index-content-body ">

    <uib-tabset>
        <uib-tab index="0" heading="Purchase Order" >
            <div class="col-xs-12 background-light">
                <div class="row col-xs-3 nopadding">
                    <table class="table-rounded control-table">
                        <col style="width: 100%"/>
                        <tbody>
                            <tr>
                                <td><input class="form-control" placeholder="number" ng-model="model.data.number" ng-disabled="ui.mode === 'NEW'" ng-keypress="ui.loadPendingPurchaseOrderByNumber($event)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row col-xs-3 nopadding">
                    <table class="table-rounded control-table">
                        <col style="width: 100%"/>
                        <tbody>
                            <tr>
                                <td><input class="form-control" id="date" smart-input="date" title="current date" placeholder="date" ng-model="model.data.date" ng-disabled="ui.mode !== 'NEW'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row col-xs-3 nopadding">
                    <table class="table-rounded control-table">
                        <col style="width: 100%"/>
                        <tbody>
                            <tr>
                                <td><input class="form-control" placeholder="deliver date" smart-input="date" title="deliver date" ng-model="model.data.deliverDate" ng-disabled="ui.mode !== 'NEW'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row col-xs-2 nopadding">
                    <table class="table-rounded control-table">
                        <col style="width: 100%"/>
                        <tbody>
                            <tr>
                                <td><input class="form-control" title="supplier" placeholder="supplier" ng-model="model.data.supplier" 
                                           uib-typeahead="supplier.indexNo as (supplier.indexNo + ' - ' + supplier.name) for supplier in model.suppliers |filter:$viewValue|limitTo:10" 
                                           typeahead-input-formatter="model.supplierLable($model)" 
                                           typeahead-on-select="ui.loadItem(model.data.supplier)"
                                           typeahead-editable="false"
                                           ng-disabled="ui.mode !== 'NEW'">
                                </td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row col-xs-1" style="margin-top: 10px;padding: 0px">
                    <div class="col-lg-12">
                        <a class="btn btn-primary" ng-click="modalOpen();">STOCK</a>
                    </div>
                </div>

                <div class="background-light">
                    <div class="row col-xs-12 nopadding">
                        <table class="table-rounded control-table square-table">
                            <col style="width: 20%"/>
                            <col style="width: 20%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 7%"/>
                            <tbody>
                                <tr>
                                    <td>BARCODE<input class="form-control" id="barcode" placeholder="barcode" ng-model="model.tempData.barcode" ng-keypress="ui.validateBarcode($event)" ng-disabled="ui.mode !== 'NEW'"></td>
                                    <td>DESCRIPTION<input class="form-control" id="item" placeholder="description" ng-model="model.tempData.item" 
                                                          uib-typeahead="item.indexNo as (item.barcode + ' - ' + item.name) for item in model.supplierItems |filter:$viewValue|limitTo:10" 
                                                          typeahead-input-formatter="model.itemLable($model)" typeahead-on-select="ui.setItemDetail(model.tempData.item)"
                                                          typeahead-editable="false"  ng-disabled="ui.mode !== 'NEW'"></td>
                                    <td>PRICE<input class="form-control" id="price" placeholder="price" ng-model="model.tempData.price" ng-disabled="ui.mode !== 'NEW'"></td>
                                    <td>QTY<input class="form-control" id="qty" placeholder="qty" ng-model="model.tempData.qty" ng-keyup="ui.calculatedValue()" ng-disabled="ui.mode !== 'NEW'"></td>
                                    <td>Value<input class="form-control" id="value" placeholder="value" ng-model="model.tempData.value" ng-disabled="ui.mode !== 'EDIT'"></td>
                                    <td>DISCOUNT %<input class="form-control" id="discount" placeholder="discount" ng-model="model.tempData.discount" ng-keyup="ui.calculateDiscountWithRate()" ng-disabled="ui.mode !== 'NEW'"></td>
                                    <td>D.VALUE<input class="form-control" id="disValue" placeholder="discount value" ng-model="model.tempData.discountValue" ng-keyup="ui.calculateDiscountWithValue()" ng-keypress="ui.callAddData()" ng-disabled="ui.mode !== 'NEW'"></td>
                                    <td>NET<input class="form-control" id="net" placeholder="net value" ng-model="model.tempData.netValue" ng-disabled="ui.mode !== 'EDIT'"></td>
                                    <td>STOCK<input class="form-control" id="stockQty" placeholder="stock qty" ng-model="model.tempData.stockQty" ng-disabled="ui.mode !== 'EDIT'"></td>
                                    <td class="text-center" style="vertical-align: bottom; padding-bottom: 5px; padding-left: 5px;">
                                        <button type="button" class="btn btn-primary" ng-click="ui.insertNormalDetail();" ng-disabled="ui.mode !== 'EDIT'">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <table class="table-rounded" ng-show="model.data.purchaseOrderItemList.length">
                <col style="width: 10%"/>
                <col style="width: 20%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>
                <col style="width: 10%"/>

                <thead class="background-dark">
                    <tr>
                        <th>Barcode</th>
                        <th>Description</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">Qty</th>
                        <th class="text-right">Value</th>
                        <th class="text-right">Discount</th>
                        <th class="text-right">D.Value</th>
                        <th class="text-right">Net</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
            <div class="smart-scroll-y" style="height: calc(100vh - 296px);" ng-show="!model.data.purchaseOrderItemList.length">
                <table class="table-rounded">
                    <col style="width: 10%"/>
                    <col style="width: 20%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <tbody>
                        <tr class="background-dark" ng-repeat="item in model.data.purchaseOrderItemList">
                            <td><span class="label label-default">{{item.barcode}}</span></td>
                            <td class="over-flow-hidden">{{model.getItemName(item.item)}}</td>
                            <td class="text-right">{{item.price| number:3}}</td>
                            <td class="text-right">{{item.qty| number:2}}</td>
                            <td class="text-right">{{item.value| number:2}}</td>
                            <td class="text-right">{{item.discount| number:2}}%</td>
                            <td class="text-right">{{item.discountValue| number:2}}</td>
                            <td class="text-right">{{item.netValue| number:2}}</td>
                            <td class="text-right">
                                <a class="btn btn-primary" ng-click="ui.edit($index)"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-danger" ng-click="ui.delete($index)"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-md-12" ng-hide="!model.data.purchaseOrderItemList.length" style="height: calc(100vh - 427px); padding: 0px 10px 10px 10px;">
                <h1>PLEASE ADD PURCHASE ORDER REQUEST ITEM TO DISPLAY :(</h1>
            </div>
            <div class="col-xs-12" style="position: fixed;bottom: 1px;margin-left:-15px;">
                <table class="table-rounded background-dark">
                    <col style="width: 10%"/>
                    <col style="width: 20%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <col style="width: 10%"/>
                    <tbody>
                        <tr class="background-dark">
                            <td></td>
                            <td></td>
                            <td class="text-right"><b>TOTAL :</b></td>
                            <td><input class="form-control text-right"placeholder="qty" ng-model="model.summaryData.qty" ng-disabled="ui.mode != 'EDIT'"></td>
                            <td><input class="form-control text-right" placeholder="value" ng-model="model.summaryData.value" ng-disabled="ui.mode != 'EDIT'"></td>
                            <td></td>
                            <td><input class="form-control text-right" placeholder="discount value" ng-model="model.summaryData.discountValue" ng-disabled="ui.mode != 'EDIT'"></td>
                            <td><input class="form-control text-right" placeholder="item value" ng-model="model.data.itemValue" ng-disabled="ui.mode != 'EDIT'"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="background-dark">
                            <td></td>
                            <td></td>
                            <td class="text-right"><b>NBT DETAILS :</b></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><input type="checkbox" ng-model="chxNBT" ng-change="ui.checkBoxNBTFunction();"/></td>
                            <td><input class="form-control text-right" placeholder="nbt %" ng-model="model.data.nbt" ng-change="ui.calculateNBT()" ng-disabled="true"></td>
                            <td><input class="form-control text-right" placeholder="nbt value" ng-model="model.data.nbtValue" ng-disabled="ui.mode != 'EDIT'"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="background-dark">
                            <td></td>
                            <td></td>
                            <td class="text-right"><b>VAT DETAILS :</b></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><input type="checkbox" ng-model="chxVAT" ng-change="ui.checkBoxVATFunction();"/></td>
                            <td><input class="form-control text-right" placeholder="vat %" ng-model="model.data.vat" ng-change="ui.calculateVAT(model.data.vat)" ng-disabled="true"></td>
                            <td><input class="form-control text-right" placeholder="vat value" ng-model="model.data.vatValue" ng-disabled="ui.mode != 'EDIT'"></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="background-dark">
                            <td></td>
                            <td></td>
                            <td class="text-right"><b>SUMMARY :</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input class="form-control text-right" placeholder="grand total" ng-model="model.data.grandTotal" ng-disabled="ui.mode != 'EDIT'"></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Required Items" >
            <div class="modal-header">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search supplier" aria-describedby="basic-addon2"
                               uib-typeahead="supplier.indexNo as (supplier.indexNo + ' - ' + supplier.name) for supplier in model.suppliers |filter:$viewValue|limitTo:10" 
                               typeahead-input-formatter="model.supplierLable($model)" 
                               typeahead-editable="false"
                               ng-model="model.data.supplier">
                        <span class="input-group-addon" id="basic-addon2">Search</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="search Item" aria-describedby="basic-addon2" ng-model="model.data.searchItem"
                               uib-typeahead="item.indexNo as (item.barcode + ' - ' + item.name) for item in model.allItems |filter:$viewValue|limitTo:10" 
                               typeahead-input-formatter="model.itemLableByAllItem($model)" 
                               typeahead-editable="false"
                               >
                        <span class="input-group-addon" id="basic-addon2">Search</span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 background-light nopadding">
                    <div class="row col-xs-12 nopadding">
                        <table class="table-rounded control-table square-table">
                            <col style="width: 20%"/>
                            <col style="width: 20%"/>
                            <col style="width: 20%"/>
                            <col style="width: 20%"/>
                            <col style="width: 20%"/>
                            <col style="width: 20%"/>
                            <col style="width: 20%"/>
                            <col style="width: 20%"/>
                            <tbody>
                                <tr>
                                    <td><input class="form-control" placeholder="number" ng-model="model.reOrderTempData.reOrderIndexNo" ng-disabled="true" ></td>
                                    <td><input class="form-control" placeholder="item" ng-model="model.reOrderTempData.item"
                                               uib-typeahead="item.indexNo as (item.barcode + ' - ' + item.name) for item in model.allItems |filter:$viewValue|limitTo:10" 
                                               typeahead-input-formatter="model.itemLableByAllItem($model)" 
                                               typeahead-editable="false"
                                               ng-disabled="true" ></td>
                                    <td><input class="form-control" placeholder="supplier" ng-model="model.reOrderTempData.supplierId" 
                                               uib-typeahead="supplier.indexNo as (supplier.indexNo + ' - ' + supplier.name) for supplier in model.suppliers |filter:$viewValue|limitTo:10" 
                                               typeahead-input-formatter="model.supplierLable($model)" 
                                               typeahead-editable="false"
                                               ng-disabled="true" ></td>
                                    <td><input class="form-control" placeholder="ordered" ng-model="model.reOrderTempData.totalOrder" ng-disabled="true" ></td>
                                    <td><input class="form-control" placeholder="purchasing" ng-model="model.reOrderTempData.purchasingQty" ng-disabled="true" ></td>
                                    <td><input class="form-control" placeholder="available" ng-model="model.reOrderTempData.availableQty" ng-disabled="true" ></td>
                                    <td><input class="form-control" placeholder="netRequired" ng-model="model.reOrderTempData.netRequiredQty" ng-disabled="ui.mode!=='NEW'" ></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary" ng-click="ui.setEditableReOrderItem()" ng-disabled="ui.mode !== 'NEW'">
                                            <span class="glyphicon glyphicon-arrow-left"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="smart-scroll-y col-lg-12 nopadding" style="height: calc(100vh - 252px);" ng-show="model.reOrderItems.length">

                    <table class="table-rounded ">
                        <col style="width: 15%"/>
                        <col style="width: 15%"/>
                        <col style="width: 15%"/>
                        <col style="width: 15%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 10%"/>
                        <col style="width: 5%"/>
                        <thead class="background-dark">
                            <tr>
                                <th><label>#</label></th>
                                <th><label>Item</label></th>
                                <th><label>Supplier</label></th>
                                <th><label>Required Qty</label></th>
                                <th>purchasing</th>
                                <th>Available </th>
                                <th>Net Required</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <div>
                        <table class="table-rounded">
                            <col style="width: 15%"/>
                            <col style="width: 15%"/>
                            <col style="width: 15%"/>
                            <col style="width: 15%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 10%"/>
                            <col style="width: 5%"/>
                            <tbody class="background-dark"  ng-repeat="(key, unit) in model.reOrderItems | unique: 'item' | filter:{supplierId:model.data.supplier===null?'':model.data.supplier} | filter:{item:model.data.searchItem===null?'':model.data.searchItem}">
                                <tr class="table-rounded table-primary table-hover" ng-class="key===selectedIndex?'selected':''" ng-click='ui.selectReOrderItemIndex(key)'>
                                    <td><label class="label label-primary" >{{key+1}}</label></td>
                                    <td>{{model.itemLableByAllItem(unit.item)}}</td>
                                    <td>{{unit.supplierId===null?'Non Supplier':unit.supplierId+' - '+unit.supplierName}}</td>
                                    <td>{{unit.totalOrder|number:2}}</td>
                                    <td>{{unit.purchasingQty |number:2}}</td>
                                    <td>{{unit.availableQty|number:2}}</td>
                                    <td><b>{{unit.netRequiredQty|number:2}}</b></td>
                                    <td>
                                        <a class="btn btn-default" ng-click="ui.editReOrderItem(unit.reOrderIndexNo)"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a class="btn btn-success" ng-click="ui.selectAllReOrderItem(unit.reOrderIndexNo)"><span class="glyphicon glyphicon-arrow-left"></span></a>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr ng-show='selectedIndex===key'>
                                    <td></td>
                                    <td><label>Branch</label></td>
                                    <td><label>Re Order Max</label></td>
                                    <td><label>Re Order Min</label></td>
                                    <td><label>Stock Qty</label></td>
                                    <td><label>Order Qty</label></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr ng-show='selectedIndex===key' ng-repeat="subDetail in model.reOrderItems | filter:{item:unit.item}">
                                    <td></td>
                                    <td><label class="label" style="background-color: {{subDetail.branchColor}}">{{subDetail.branchId}}</label>{{' - '+subDetail.branch}}</td>
                                    <td>{{subDetail.maxReOrder |number:2}}</td> 
                                    <td>{{subDetail.minReOrder |number:2}}</td> 
                                    <td >{{subDetail.stockQty |number:2}}</td> 
                                    <td><b>{{subDetail.orderQty |number:2}} </b></td> 
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="placeholder col-md-12" ng-hide="model.reOrderItems.length" style="height: calc(100vh - 262px);">
                    <h1>EMPTY REQUIRED ITEM TO DISPLAY :(</h1>
                </div>
            </div>
        </uib-tab>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>