<div class="index-content-header"></div>

<div class="index-content-body ">
    <div class="col-xs-3 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 51px);padding: 5px">
            <div class="col-xs-12 nopadding" style="flex: 0 0 auto;padding-right: 22px;">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td>
                    <center>
                        <label class="h4">
                            <b>APPROVED PURCHASE ORDER :                            
                            </b>
                        </label>
                    </center>
                    </td>
                    </tr>
                    </tbody>
                </table> 
            </div>
            <div class="row col-xs-12 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td><input class="form-control" placeholder="PO number" ng-model="model.data.searchPONumber" 
                                       ng-disabled="ui.mode !== 'NEW'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-xs-12 nopadding">
                <table class="table-rounded control-table">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr>
                            <td><input class="form-control" placeholder="supplier" ng-model="model.data.supplier" 
                                       uib-typeahead="supplier.indexNo as (supplier.indexNo + ' - ' + supplier.name) for supplier in model.suppliers |filter:$viewValue|limitTo:10" 
                                       typeahead-input-formatter="model.getSupplier($model)" 
                                       typeahead-editable="false"
                                       typeahead-on-select="ui.changeSupplier()"
                                       ng-disabled="ui.mode !== 'NEW'">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="smart-scroll-y" style="height: calc(100vh - 158px);" ng-show="model.pendingPurchaseOrderList.length" >
                <table class="table-rounded control-table table-hover">
                    <col style="width: 100%"/>
                    <tbody>
                        <tr class="animation-fade" ng-repeat="order in model.pendingPurchaseOrderList|filter : {supplier : model.data.supplier===null?'':model.data.supplier} |filter : {number : model.data.searchPONumber===null?'':model.data.searchPONumber} track by $index"
                            ng-if="model.orderLengthCheck(order.purchaseOrderItemList);" ng-click="ui.selectPurchaseOrder(order.indexNo,order.number)" >
                            <td class="text-center" ng-class="model.selectedDetailIndex === order.indexNo ? 'selected' : ''">
                                <b>{{model.getSupplier(order.supplier)}}</b>
                                <a class="btn btn-success pull-right" style="margin-top: 5px"><span class="glyphicon glyphicon-arrow-right"></span></a><br>
                                <label class="pull-left label label-default" style="margin-top: 8px">{{order.number | fixedLength:5}}</label>
                                <label class="">{{order.approvedDate}}</label>
                                <label class="pull-right">{{order.grandTotal | number:2}}</label>
                            </td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="col-xs-3" style="position: fixed;bottom: 1px;margin-left:-15px;height:40px;" ng-show="model.pendingPurchaseOrderList|filter : {supplier : model.data.supplier===null?'':model.data.supplier} track by $index"
                 ng-if="model.orderLengthCheck(order.purchaseOrderItemList);" >
                <table class="table-rounded">
                    <col style="width: 15%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <col style="width: 25%"/>

                    <thead class="background-dark">
                        <tr>
                            <td><span class="label label-primary">{{model.pendingPurchaseOrderList.length}}</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><b>{{model.grandTotalValue | number:2}}</b></td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="placeholder col-md-12" ng-hide="model.pendingPurchaseOrderList.length" style="height: calc(100vh - 296px); padding: 0px 10px 10px 10px;">
                <h1>PLEASE APPROVE PENDING PURCHASE ORDER TO DISPLAY :(</h1>
            </div>
        </div>
    </div>
    <div class="col-xs-9 background-light">
        <div class="row col-xs-2 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>number<input class="form-control" id="number" placeholder="number" ng-model="model.data.number" ng-disabled="ui.mode !== 'NEW' "></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-2 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>current date<input class="form-control" smart-input="date" id="date" ng-model="model.data.date" ng-disabled="ui.mode !== 'NEW' "></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-2 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>reference number<input class="form-control" ng-model="model.data.refNumber" ng-disabled="ui.mode !== 'NEW'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-2 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>deliver date<input class="form-control" id="deliverDate" smart-input="date" ng-model="model.data.deliverDate" ng-disabled="true "></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-2 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>request date<input class="form-control" smart-input="date" ng-model="model.data.requestDate" ng-disabled="true">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row col-xs-2 nopadding">
            <table class="table-rounded control-table">
                <col style="width: 100%"/>
                <tbody>
                    <tr>
                        <td>credit period<input class="form-control" placeholder="credit period" ng-model="model.data.creditPeriod" ng-disabled="true">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="background-light col-sm-6 nopadding">
            <div class="row col-xs-12 nopadding">
                <table class="table-rounded control-table square-table">
                    <col style="width: 20%"/>
                    <col style="width: 45%"/>
                    <col style="width: 20%"/>
                    <col style="width: 15%"/>
                    <tbody>
                        <tr>
                            <td>BARCODE<input class="form-control" id="barcode" placeholder="barcode" ng-model="model.tempData.barcode" ng-disabled="true"></td>
                            <td>DESCRIPTION<input class="form-control" id="description" placeholder="description" ng-model="model.tempData.item"
                                                  uib-typeahead="item.indexNo as (item.barcode + ' - ' + item.name) for item in model.items |filter:$viewValue|limitTo:10" 
                                                  typeahead-input-formatter="model.getItemLable($model)" 
                                                  typeahead-editable="false"
                                                  ng-disabled="true"></td>
                            <td>QTY<input class="form-control" id="qty" placeholder="receive qty" ng-model="model.tempData.receiveQty" ng-disabled="ui.mode !== 'NEW'"></td>
                            <td>
                                <a class="btn btn-primary" style="margin-top: 28px" id="btnAddData" ng-click="ui.addData()">
                                    <span class="glyphicon glyphicon-plus">
                                    </span>
                                </a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 nopadding" ng-show="model.purchaseOrderItemList.length">

                <table class="table-rounded">
                    <col style="width: 20%"/>
                    <col style="width: 30%"/>
                    <col style="width: 15%"/>
                    <col style="width: 20%"/>

                    <thead class="background-dark">
                        <tr>
                            <th>Barcode</th>
                            <th>Description</th>
                            <th class="text-right">Qty</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 285px);">
                    <table class="table-rounded table-hover">
                        <col style="width: 20%"/>
                        <col style="width: 30%"/>
                        <col style="width: 15%"/>
                        <col style="width: 20%"/>
                        <tbody>
                            <tr ng-repeat="approvedItem in model.purchaseOrderItemList | filter:{status:'APPROVED'}" ng-if="approvedItem.balanceQty > 0">
                                <td><span class="label label-default">{{model.getItemObject(approvedItem.item).barcode}}</span></td>
                                <td class="over-flow-hidden">{{model.getItemObject(approvedItem.item).name}}</td>
                                <td class="text-right">{{approvedItem.balanceQty}}</td>
                                <td class="text-right">
                                    <a class="btn btn-primary" ng-click="ui.editItemQty(approvedItem.indexNo)"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a class="btn btn-success" ng-click="ui.select(approvedItem.indexNo)"><span class="glyphicon glyphicon-arrow-right"></span></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-xs-4" style="position: fixed;bottom: 1px;margin-left:-15px;height:40px;width: 506px">
                    <table class="table-rounded">
                        <col style="width: 15%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 25%"/>

                        <thead class="background-dark">
                            <tr>
                                <td><span class="label label-primary">{{model.itemTotalCount}}</span></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><b>{{model.itemTotalQty|number:2}}</b></td>
                                <td></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="placeholder col-md-12" ng-hide="model.purchaseOrderItemList.length" style="height: calc(100vh - 252px); padding: 0px 10px 10px 10px;">
                <h1>PLEASE SELECT APPROVED PURCHASE ORDER TO DISPLAY ITEM:(</h1>
            </div>
        </div>
        <div class="background-light col-sm-6 nopadding">
            <div class="col-sm-12 nopadding" ng-show="model.data.grnItemList.length">

                <table class="table-rounded">
                    <col style="width: 30%"/>
                    <col style="width: 30%"/>
                    <col style="width: 15%"/>
                    <col style="width: 15%"/>
                    <col style="width: 10%"/>

                    <thead class="background-dark">
                        <tr>
                            <th>Barcode</th>
                            <th>Description</th>
                            <th>PO No</th>
                            <th class="text-right">Qty</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 200px);">
                    <table class="table-rounded table-hover">
                        <col style="width: 30%"/>
                        <col style="width: 30%"/>
                        <col style="width: 15%"/>
                        <col style="width: 15%"/>
                        <col style="width: 10%"/>
                        <tbody>
                            <tr ng-repeat="grnItem in model.data.grnItemList">
                                <td><span class="label label-default">{{model.getItemObject(grnItem.item).barcode}}</span></td>
                                <td class="over-flow-hidden">{{model.getItemObject(grnItem.item).name}}</td>
                                <td class="text-right">{{grnItem.selectedPONumber}}</td>
                                <td class="text-right">{{grnItem.receiveQty}}</td>
                                <td class="text-right">
                                    <a class="btn btn-danger" ng-click="ui.deleteItem($index)"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-xs-4" style="position: fixed;bottom: 1px;margin-left:-15px;height:40px;width: 506px">
                    <table class="table-rounded">
                        <col style="width: 15%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 20%"/>
                        <col style="width: 10%"/>

                        <thead class="background-dark">
                            <tr>
                                <td><span class="label label-primary">{{model.data.grnItemList.length}}</span></td>
                                <td></td>
                                <td></td>
                                <td class="text-right"><b>{{model.totalGrnQty | number:2}}</b></td>
                                <!--<td class="text-right"><b>45</b></td>-->
                                <td></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="placeholder col-md-12" ng-hide="model.data.grnItemList.length" style="height: calc(100vh - 168px); padding: 0px 10px 10px 10px;">
                <h1>PLEASE ADD RECEIVE ITEMS TO DISPLAY :(</h1>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>