<div class="index-content-body ">
    <div class="col-xs-2 background-dark">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12" style="flex: 0 0 auto;font-size: 13px;">
                <table>
                    <thead>
                        <tr>
                            <th>SELECT VEHICLE</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="flex: 1 1 auto;height: calc(100% - 200px);">
                <table class="table-hover table-primary text-bold">
                    <col style="width: 50%"/>
                    <col style="width: 50%"/>
                    <tbody ng-repeat="vehicle in vehicle| filter : vehicle.name">
                        <tr ng-click="vehicleSelectionDetail($index)" ng-class="{'selected':$index == selectedRow}">
                            <td>
                                <img src="{{vehicle.image}}"/>  
                            </td>
                            <td>{{vehicle.number}}</td>
                        </tr> 
                        <tr class="select-success-row animation-fade" ng-show="activePositionVehicle == $index">
                            <td colspan="2"><span class="glyphicon glyphicon-user"></span> {{vehicle.customerName}} <br>
                                <span class="glyphicon glyphicon-earphone"></span> {{vehicle.contactNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-xs-5 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
            <div class="col-xs-12"  style="margin-top: 10px;height: 400px;">
                <uib-tabset>
                    <uib-tab heading="ITEM" index="2">
                        <div class="col-xs-12">
                            <div class="col-xs-8">
                                <input type="text" class="search-input" placeholder="search" ng-model="search">
                            </div>
                            <table>
                                <col style="width: 40%;"/>
                                <col style="width: 15%;"/>
                                <col style="width: 15%;"/>
                                <col style="width: 15%;"/>
                                <col style="width: 15%;"/>
                                <col />
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th class="text-right">U.PRICE</th>
                                        <th class="text-right">QTY</th>
                                        <th class="text-right">AMOUNT</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 213px);">
                            <table class="table-hover table-primary">
                                <col style="width: 40%;"/>
                                <col style="width: 15%;"/>
                                <col style="width: 15%;"/>
                                <col style="width: 15%;"/>
                                <col style="width: 15%;"/>
                                <tbody ng-repeat="items in items|filter:search">
                                    <tr>
                                        <td ng-click="itemSelectionDetail($index)">{{items.name}}</td>
                                        <td class="text-right" ng-click="itemSelectionDetail($index)">{{items.price}}</td>
                                        <td class="text-right"><input type="text" style="width: 60px"></td>
                                        <td class="text-right" ng-click="itemSelectionDetail($index)">{{items.price}}</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                                    </tr>
                                    <tr class="select-primary-row animation-fade" ng-show="itemActivePosition == $index"><td colspan="5">{{items.discription}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab heading="PACKAGE" index="0">
                        <div class="col-xs-12">
                            <table>
                                <col style="width: 60%;"/>
                                <col style="width: 25%;"/>
                                <col style="width: 15%;"/>
                                <col />
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th class="text-right">AMOUNT</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 150px);">
                            <table class="table-hover table-primary">
                                <col style="width: 60%;"/>
                                <col style="width: 25%;"/>
                                <col style="width: 15%;"/>
                                <tbody ng-repeat="package in package">
                                    <tr>
                                        <td ng-click="packageSelectionDetail($index)">{{package.name}}</td>
                                        <td class="text-right" ng-click="packageSelectionDetail($index)">{{package.price}}</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                                    </tr>
                                    <tr class="select-primary-row animation-fade" ng-show="packagePositionVehicle == $index">
                                        <td colspan="3">
                                            <div>
                                                <table>
                                                    <col style="width: 10%;"/>
                                                    <col style="width: 90%;"/>
                                                    <tbody>
                                                        <tr class="select-primary-row animation-fade"  ng-repeat="items in package.discription.items">
                                                            <td>{{items.indexNo}}</td>
                                                            <td>{{items.name}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab heading="SERVICE" index="1">
                        <div class="col-xs-12">
                            <div class="col-xs-8">
                                <input type="text" class="search-input" placeholder="search" ng-model="search">
                            </div>
                            <table>
                                <col style="width: 60%;"/>
                                <col style="width: 25%;"/>
                                <col style="width: 15%;"/>
                                <col />
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th class="text-right">AMOUNT</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 213px);">
                            <table class="table-hover table-primary">
                                <col style="width: 60%;"/>
                                <col style="width: 25%;"/>
                                <col style="width: 15%;"/>
                                <tbody ng-repeat="service in service|filter:search">
                                    <tr>
                                        <td ng-click="serviceSelectionDetail($index)">{{service.name}}</td>
                                        <td class="text-right" ng-click="serviceSelectionDetail($index)">{{service.price}}</td>
                                        <td><a class="btn btn-danger"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                                    </tr>
                                    <tr class="select-primary-row animation-fade" ng-show="servicePositionVehicle == $index">
                                        <td colspan="3">{{service.discription}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>

                </uib-tabset>
            </div>
        </div>
    </div>



    <div class="col-xs-5 background-light" style="display: flex; flex-flow: column; height: calc(100vh - 52px);">
        <div class="row">
            <div class="col-xs-12">
                <table>
                    <col style="width: 50%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 20%;"/>
                    <thead class="background-dark">
                        <tr>
                            <th>Services</th>
                            <th class="text-right">AMOUNT</th>
                            <th class="text-right">#</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-12 smart-scroll-y" style="height: calc(100vh - 285px);">
                <table class="table-primary">
                    <col style="width: 50%;"/>
                    <col style="width: 30%;"/>
                    <col style="width: 20%;"/>
                    <tbody ng-repeat="service in service">
                        <tr>
                            <td>{{service.name}}</td>
                            <td class="text-right">{{service.price}}</td>
                            <td class="text-right"><a ><span class="glyphicon glyphicon-ok"></span></a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 pull-right">
                <table class="table-primary">
                    <col style="width: 50%;"/>
                    <col style="width: 50%;"/>
                    <tbody>
                        <tr>
                            <td>Total :</td>
                            <td class="text-right"><input type="text" class="form-control" ng-model="total"></td>
                        </tr>
                        <tr>
                            <td>Discount :</td>
                            <td>
                                <input type="text" class="form-control text-right" placeholder="Rs" style="width: 48%; display: inline; float: left;" ng-model="discount1" ng-change="calNetAmount1(discount1)">
                                <input type="text" class="form-control text-right" placeholder="%" style="width: 48%; display: inline; float: right;" ng-model="discount2" ng-change="calNetAmount2(discount2)">
                            </td>
                        </tr>
                        <tr>
                            <td>Net Amount :</td>
                            <td class="text-right"><input type="text" class="form-control" ng-model="netAmount"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary"><i class="glyphicon glyphicon-ok"></i></a>
</div>