<div class="index-content-header">
</div>

<div class="index-content-body">
    <div class="col-xs-3 background-light border-right">
        <div>
            <div style="display: flex; flex-flow: column; height: calc(100vh - 53px);">
                <div class="col-md-6">
                    <!--<input id="search" type="text" placeholder="search" class="search-input" ng-model="searchItem">-->
                </div>
                <table class="table-rounded">
                    <col style="width: 70%">
                    <col style="width: 30%">
                    <thead class="background-dark">
                        <tr>
                            <th>
                                <label>Job</label>
                            </th>
                            <th>
                                <label>hh:mm:ss</label>
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 100px);">
                    <table class="table-rounded table-hover">
                        <col style="width: 70%">
                        <col style="width: 30%">
                        <tbody>
                            <tr ng-repeat="appointmentItem in model.AppointmentItemList" ng-click="ui.selectItem(appointmentItem)" ng-class="ui.selectedDataIndex === appointmentItem.indexNo ? 'selected' : ''" style="background-color: {{appointmentItem.colourCode}}; color: white; height: 65px">
                                <!--<td>{{model.itemLabel(appointmentItem.item).name}}</td>-->
                                <td>{{appointmentItem.otherName}}</td>
                                <td>{{appointmentItem.time}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-3 background-dark border-right">
        <div  class="smart-scroll-y" style="display: flex; flex-flow: column; height: calc(100vh - 270px);">
            <table class="table-rounded control-table">
                <col style="width: 35%"/>
                <col style="width: 65%"/>
                <tbody>
                    <tr>
                        <td><label class="control-label">Vehicle No*</label></td>
                        <td><input class="form-control" ng-model="model.appointmentData.vehicleNo" uib-typeahead="vehicle.vehicleNo for vehicle in model.vehicleList |filter:$viewValue|limitTo:6" typeahead-on-select="model.vehicleLabel($item, $model, $label)" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Branch*</label></td>
                        <td><input class="form-control" ng-model="model.appointmentData.branch" ng-change="ui.selectBranch(model.appointmentData.branch)" uib-typeahead="branch.indexNo as (branch.indexNo + ' - ' + branch.name) for branch in model.branchList |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.branchLable($model)" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>

                    <tr>
                        <td><label class="control-label">Date*</label></td>
                        <td><input class="form-control" type="date"  ng-model="model.appointmentData.appointmentDate" ng-change="ui.selectDate(model.appointmentData.appointmentDate)" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>
                    <!--                    <tr>
                                            <td><label class="control-label">In Time*</label></td>
                                            <td><input class="form-control" type="time"  ng-model="model.inTime" ng-disabled="ui.mode !== 'EDIT'"></td>
                                        </tr>-->

                    <tr>
                        <td><label class="control-label">Vehicle Model*</label></td>
                        <td><input class="form-control" ng-model="model.appointmentData.vehicleModel" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">client Name*</label></td>
                        <td><input class="form-control" ng-model="model.appointmentData.clientName" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Contact No*</label></td>
                        <td><input class="form-control" type="text" ng-model="model.appointmentData.contactNo" ng-disabled="ui.mode !== 'EDIT'"></td>
                    </tr>

                    <tr style="height: 65px;">
                        <td><label class="control-label">IN TIME <span class="label label-warning">{{model.tempdata.inTime}}</span></label></td>
                        <td><label class="control-label">OUT TIME <br> <span class="label label-warning">{{model.tempdata.outTime}}</span></label></td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div  class="smart-scroll-y" style="display: flex; flex-flow: column; height: calc(100vh - 445px);">
            <table class="table-rounded">
                <col style="width: 100%"/>
                <thead class="background-dark">
                    <tr>
                        <th>
                            <label>Price Category</label>  <label class="pull-right">FREE <input class="form-group-sm" type="checkbox" ng-model="model.appointmentData.priceFree" ng-click="ui.selectCheckFree(model.appointmentData.priceFree)"></label>
                        </th>
                    </tr>
                </thead>
            </table>
            <div ng-show="model.priceCategoryList.length">
                <table class="table-rounded control-table">
                    <col style="width: 15%"/>
                    <col style="width: 20%"/>
                    <col style="width: 20%"/>
                    <tbody>
                        <tr ng-repeat="category in model.priceCategoryList" ng-click="ui.selectPriceCategory(category)" ng-class="model.ui.selectedIndex === category.priceCategory ? 'selected' : ''" style="line-height : 25px">
                            <td>{{model.itemNameLabel(category.priceCategory)}}</td>
                            <td><span class="label label-success">R</span>&nbsp;{{category.registerPrice}} </td>
                            <td><span class="label label-primary">N</span>&nbsp;{{category.normalPrice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="placeholder col-md-12" ng-hide="model.priceCategoryList.length" style="padding: 0px 0px 10px 0px;">
                <h2 style="font-size: 22px">PLEASE SELECT A JOB TO DISPLAY :(</h2>
            </div>
        </div>
    </div>


    <div class="col-xs-6 background-light">
        <div class="col-xs-12">
            <div class="col-xs-2">
                <div class="row">
                    <table class="table-rounded" style="border-spacing :0 2px">
                        <col style="width: 100%">
                        <thead class="background-dark">
                            <tr>
                                <th class="text-center">
                                    <label>Time</label>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div style="width: 20%" class="col-xs-3 background-light">
                <div class="row">
                    <table class="table-rounded" style="border-spacing :0 2px">
                        <col style="width: 100%">
                        <thead class="background-dark">
                            <tr>
                                <th class="text-center" style="background-color : burlywood">
                                    <label>Lube</label>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div style="width: 20%" class="col-xs-3 background-light">
                <div class="row">
                    <table class="table-rounded" style="border-spacing :0 2px">
                        <col style="width: 100%">
                        <thead class="background-dark">
                            <tr>
                                <th class="text-center" style="background-color: darksalmon">
                                    <label >UW</label>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div style="width: 20%" class="col-xs-3 background-light">
                <div class="row">
                    <table class="table-rounded" style="border-spacing :0 2px">
                        <col style="width: 100%">
                        <thead class="background-dark">
                            <tr>
                                <th class="text-center" style="background-color: #fde355">
                                    <label>BW</label>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div style="width: 20%" class="col-xs-3 background-light">
                <div class="row">
                    <table class="table-rounded" style="border-spacing :0 2px">
                        <col style="width: 100%">
                        <thead class="background-dark">
                            <tr>
                                <th class="text-center" style="background-color: #e2ea47">
                                    <label>QD</label>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="smart-scroll-y" style="flex-flow: column; height: calc(100vh - 100px);">
                <div class="col-xs-2">
                    <div class="row">
                        <table class="table-rounded" style="border-spacing :0 3px">
                            <col style="width: 100%">
                            <tbody>
                                <tr ng-repeat="time in ui.times">
                                    <td class="text-center">
                                        <label class="label label-default">{{time}}</label>
                                        <label class="label label-default">{{ui.getNextTime(time)}}</label>
                                    </td>
                                </tr>                         
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--lube bay-->
                <div style="width: 20%" class="col-xs-3 background-light">
                    <div class="row">
                        <table class="table-rounded" style="border-spacing :2px 2px">
                            <col style="width: 100%">
                            <tbody>
                                <tr class="text-center" style="background-color : burlywood" ng-repeat="bay in model.lube" ng-click="ui.selectBayLube(bay, $index)" ng-class="model.ui.selectedBayLubeIndex === bay.time ? 'selected' : ''">
                                    <td ng-if="bay.vehicle === null"><div style="height: 68px"></div></td>
                                    <td ng-if="bay.vehicle !== null" style="background-color : #cacaca"><div style="height: 68px">{{bay.vehicle}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--under wash bay-->
                <div style="width: 20%" class="col-xs-3 background-light">
                    <div class="row">
                        <table class="table-rounded" style="border-spacing :2px 2px">
                            <col style="width: 100%">
                            <tbody>
                                <tr class="text-center" style="background-color : darksalmon" ng-repeat="bay in model.uw" ng-click="ui.selectBayUw(bay, $index)" ng-class="model.ui.selectedBayUwIndex === bay.time ? 'selected' : ''">
                                    <td ng-if="bay.vehicle === null"><div style="height: 68px"></div></td>
                                    <td ng-if="bay.vehicle !== null" style="background-color : #cacaca"><div style="height: 68px">{{bay.vehicle}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--body wash bay-->
                <div style="width: 20%" class="col-xs-3 background-light">
                    <div class="row">
                        <table class="table-rounded" style="border-spacing :2px 2px">
                            <col style="width: 100%">
                            <tbody>
                                <tr class="text-center" style="background-color : #fde355" ng-repeat="bay in model.bw" ng-click="ui.selectBayBw(bay, $index)" ng-class="model.ui.selectedBayBwIndex === bay.time ? 'selected' : ''">
                                    <td ng-if="bay.vehicle === null"><div style="height: 33.4px"></div></td>
                                    <td ng-if="bay.vehicle !== null" style="background-color : #cacaca"><div style="height: 33.4px">{{bay.vehicle}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--qd bay-->
                <div style="width: 20%" class="col-xs-3 background-light">
                    <div class="row">
                        <table class="table-rounded" style="border-spacing :2px 2px">
                            <col style="width: 100%">
                            <tbody>
                                <tr class="text-center" style="background-color : #e2ea47" ng-repeat="bay in model.qd" ng-click="ui.selectBayQd(bay, $index)" ng-class="model.ui.selectedBayQdIndex === bay.time ? 'selected' : ''">
                                    <td ng-if="bay.vehicle === null"><div style="height: 33.4px"></div></td>
                                    <td ng-if="bay.vehicle !== null" style="background-color : #cacaca"><div style="height: 33.4px">{{bay.vehicle}}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fab-container">
        <a class="fab fab-lg fab-success" fab-show="ui.mode ==='EDIT'" ng-click="ui.saveAppointment()"><i class="glyphicon glyphicon-floppy-save"></i></a>
        <a class="fab fab-lg fab-primary" fab-show="ui.mode ==='IDEAL'" ng-click="ui.new()"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
</div>
