<div class="index-content-header">
</div>

<div class="index-content-body ">
    <div class="col-xs-4 background-light">
        <div class="row" style="display: flex; flex-flow: column; height: calc(100vh - 104px);">
            <div class="col-xs-12" style="flex: 0 0 auto; height: 95px; padding-right: 22px;">
                <label>Make :</label>
                <input class="form-control" ng-model="model.vehicleType.make" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                <label>Model :</label>
                <input class="form-control" ng-model="model.vehicleType.model" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                <label>Version :</label>
                <input class="form-control" ng-model="model.vehicleType.version" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                <label>Fuel :</label>
                <input class="form-control" ng-model="model.vehicleType.fuelType" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
                <label>Price Category :</label>
                <input class="form-control" ng-model="model.vehicleType.priceCategory" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'" uib-typeahead="priceCategory.indexNo as (priceCategory.indexNo +' - '+priceCategory.name) for priceCategory in model.priceCategoryList |filter:$viewValue|limitTo:10" typeahead-input-formatter="priceCategoryLable($model);">
                <label>Type:</label>
                <input class="form-control" ng-model="model.vehicleType.type" ng-disabled="ui.mode !== 'NEW' && ui.mode !== 'EDIT'">
            </div>
        </div>
    </div>
    <div class="col-xs-8 background-dark">
        <div class="row col-xs-5">
            <input type="text" class="search-input" ng-model="search" placeholder="search">
        </div>
        <table class="table-rounded">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 15%">
            <col style="width: 10%">
            <thead class="background-dark">
                <tr> 

                    <th>
                        <label>Made</label>
                    </th>
                    <th>
                        <label>Model</label>
                    </th>
                    <th>
                        <label>Version</label>
                    </th>
                    <th>
                        <label>Fuel</label>
                    </th>
                    <th>
                        <label>Type</label>
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div class="smart-scroll-y" style="height: calc(100vh - 152px);">
            <table class="table-rounded"> 

                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="vehicleType in model.vehicleTypeList| filter:{model:search} | orderBy:'indexNo'">                      
                        <td>{{vehicleType.make}}</td>
                        <td>{{vehicleType.model}}</td>
                        <td>{{vehicleType.version}}</td>
                        <td>{{vehicleType.fuelType}}</td>
                        <td>{{vehicleType.type}}</td>
                        <td class="text-right" style="padding-left: 5px;">
                            <a class="btn btn-primary" ng-click="ui.edit(vehicleType, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" ng-click="http.deleteVehicleType(vehicleType.indexNo, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'IDEAL' || ui.mode === 'SELECTED'" ng-click="ui.new();"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="fab fab-lg fab-primary" ng-show="ui.mode === 'NEW' || ui.mode === 'EDIT'" ng-click="ui.save();"><i class="glyphicon glyphicon-ok"></i></a>
</div>
