<div class="tile-list background-dark">
    <div class="tile-list-title">
        <h4>VEHICLE</h4>
    </div>
    <div class="tile-list-content smart-scroll-y" style="height: calc(100vh - 40px);">
        <div class="tile tile-128" ng-repeat="vehicle in vehicles">
            <span style="margin-top: -43px;margin-left: -15px;">
                <label>{{vehicle.bayName}}</label>
                <img src="{{vehicle.image}}"/>  

                <label>
                    {{vehicle.number}}
                </label>
                <label style="margin-left: 22px">
                    {{vehicle.count}}
                </label>
            </span>
        </div>
    </div>
</div>

<div class="index-content-body ">
    <div style="float: left; width: calc(100% - 133px);">
        <div class="col-xs-12" style="height: calc(100vh-40px);">
            <div class="col-xs-6">
                <h4 class="text-primary">REQUEST ITEM LIST</h4>
            </div>
            <div class="col-xs-6">
                <h4 class="text-primary">SELECT ITEM LIST</h4>
            </div>
        </div>
        <div class="col-xs-6 background-light-dark" style="height: calc(100vh-133px)">

            <div class="row" style="display: flex; flex-flow: column;">
                <table class="square-table background-dark" style="width: 99%">
                    <col style="width: 30%;"/>
                    <col style="width: 60%;"/>
                    <col style="width: 10%;"/>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                    <div ng-repeat="item in requestItems">
                        <table class="square-table">
                            <col style="width: 30%;"/>
                            <col style="width: 60%;"/>
                            <col style="width: 10%;"/>
                            <tbody>
                                <tr class="background-light">
                                    <td>{{item.indexNo}}</td>
                                    <td>{{item.name}}</td>
                                    <td><a class="btn btn-danger" ng-click="doRemoveFromRequest($index, item)"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="placeholder nopadding" style="height: calc(100vh - 105px);" ng-hide="requestItems.length">
                        <h1>NO HAVE REQUEST ITEM TO DISPLAY :(</h1>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-6 background-dark">
            <div class="row" style="display: flex; flex-flow: column;">
                <table class="square-table background-dark">
                    <col style="width: 30%;"/>
                    <col style="width: 60%;"/>
                    <col style="width: 10%;"/>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                    <div ng-repeat="item in selectItems">
                        <table class="square-table">
                            <col style="width: 30%;"/>
                            <col style="width: 60%;"/>
                            <col style="width: 10%;"/>
                            <tbody>
                                <tr class="background-light">
                                    <td>{{item.indexNo}}</td>
                                    <td>{{item.name}}</td>
                                    <td><a class="btn btn-danger" ng-click="doRemoveFromSelect($index, item)"><span class="glyphicon glyphicon-arrow-left"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="placeholder col-xs-12" style="height: calc(100vh - 122px)" ng-hide="selectItems.length">
                        <h1>NO HAVE SELECTED ITEM TO DISPLAY :(</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="true"><i class="glyphicon glyphicon-ok"></i></a>
</div>

