<div class="tile-list background-dark">
    <div class="tile-list-title" style="margin-right: 5px;">
        <h4>VEHICLE</h4>
    </div>
    <div class="tile-list-content smart-scroll-y" style="height: calc(100vh - 40px);">
        <div class="tile tile-128" style="animation: 0.5s zoomInLeft" ng-repeat="details in model.pendingJobCards" ng-class="{'selected':details.indexNo == selectedJobCardIndexNo}" ng-click="ui.selectedJobCardRow(details);">
            <span>
                <img src="/img/01.png"/>  
                <label>
                    {{model.vehicleData(details.vehicle).vehicleNo}}
                </label>
                <label ng-show="model.vehicleData(details.vehicle).type === 'NORMAL'" class="label label-primary">NORMAL</label>
                <label ng-show="model.vehicleData(details.vehicle).type === 'REGISTER'" class="label label-success">REGISTER</label>
            </span>
        </div>
    </div>
</div>

<div class="index-content-body ">
    <div style="float: left; width: calc(100% - 133px);">
        <div class="col-xs-12" style="height: calc(100vh-40px);">
            <div class="col-xs-6">
                <h4 class="text-primary">HAVE TO CHECK LIST</h4>
            </div>
            <div class="col-xs-6">
                <h4 class="text-primary">CHECKED LIST</h4>
            </div>
        </div>
        <div class="col-xs-6 background-light-dark" style="height: calc(100vh-133px)">

            <div class="row" style="display: flex; flex-flow: column;">
                <table class="square-table background-dark" style="width: 99%">
                    <col style="width: 15%;"/>
                    <col style="width: 75%;"/>
                    <col style="width: 10%;"/>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                    <div ng-repeat="selections in model.jobItemList|filter:{orderStatus : 'PENDING'}|filter:{itemType : 'STOCK_ITEM'}">
                        <table class="square-table">
                            <col style="width: 40%;"/>
                            <col style="width: 35%;"/>
                            <col style="width: 15%;"/>
                            <col style="width: 10%;"/>
                            <tbody>
                                <tr class="background-light">
                                    <td><span class="label label-success">{{model.findByStockFromItem(selections.item)}}</span> - <span class="label label-default"> ({{model.itemUnitData(selections.itemUnit).qty}} *  {{selections.quantity}} = {{model.itemUnitData(selections.itemUnit).qty * selections.quantity}})</span></td>
                                    <td>{{model.itemUnitData(selections.itemUnit).name}}</td>
                                    <td>{{selections.quantity}}</td>
                                    <td><a  ng-class="selectVehicleType === 'REGISTER' ? 'btn-success' : 'btn-primary'" class="btn" ng-click="ui.checkItemComplite(selections);"><span class="glyphicon glyphicon-arrow-right"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-6 background-dark">
            <div class="row" style="display: flex; flex-flow: column;">
                <table class="square-table background-dark">
                    <col style="width: 15%;"/>
                    <col style="width: 75%;"/>
                    <col style="width: 10%;"/>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
                <div class="smart-scroll-y" style="height: calc(100vh - 104px);">
                    <div ng-repeat="selections in model.jobItemList|filter:{orderStatus : 'COMPLITED'}">
                        <table class="square-table">
                            <col style="width: 75%;"/>
                            <col style="width: 15%;"/>
                            <col style="width: 10%;"/>
                            <tbody>
                                <tr class="background-light">
                                    <td>{{model.itemUnitData(selections.itemUnit).name}}</td>
                                    <td>{{selections.quantity}}</td>
                                    <td><a class="btn btn-danger" ng-click="ui.checkItemPending(selections);"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fab-container">
    <a class="fab fab-lg fab-primary" ng-show="true"><i class="glyphicon glyphicon-ok"></i></a>
</div>

